{% extends 'signup_base.html' %}
{% load i18n %}

{% block title %}Gournet{% endblock %}
{% block container %}
        <div class="row">
            <div class="col-sm-12">
                <div class="well bs-component" style="max-width: {% if token_fail %}800{% else %}500{% endif %}px;">
                    {% csrf_token %}{% load bootstrap3 %}
                    <legend>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</legend>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="fbot">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <input type="submit" class="btn btn-primary btn-block"  name="action" value="{% trans 'Change My Password' %}"/>
                            </form>
                        {% else %}
                            <p class="fbot">{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}