{% extends 'signup_base.html' %}
{% load i18n %}

{% block title %}Gournet{% endblock %}
{% block container %}
        <div class="row">
            <div class="col-sm-12">
                <div class="well bs-component" style="max-width: 800px;">
                <legend>{% trans "Password Reset" %}</legend>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="fbot">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
{% endblock %}