{% extends 'base/signup.html' %}
{% load i18n %}

{% block title %}Password Reset - Gournet{% endblock %}
{% block container %}
        <div class="row">
            <div class="col-sm-12">
                <div class="well bs-component" style="max-width: 500px;">
                    {% load bootstrap3 %}{% load account %}
                    <legend>{% trans "Password Reset" %}</legend>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-primary btn-block" value="{% trans "Reset My Password" %}" />
                    </form>
                    <p class="f1 fbot">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
{% endblock %}