{% extends 'signup_base.html' %}
{% load i18n %}

{% block container %}
        <div class="row" style="min-width: 350px;">
            <div class="col-xs-10 col-xs-offset-1 col-xs-offset-right-1 col-sm-5 col-sm-offset-1" style="padding-bottom: 20px;">
                <div class="well bs-component">
                    <form method="post" class="form-vertical" action="{% url 'account_signup' %}">
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        {% csrf_token %}{% load bootstrap3 %}
                        <legend>{% trans "Fill the data" %}</legend>
                        {% bootstrap_form form %}
                        <input class="f1 btn btn-primary btn-block" type="submit" value="Sign up!">
                    </form>
                </div>
            </div>
            <div class="m col-xs-10 col-xs-offset-1 col-xs-offset-right-1 col-sm-5 col-sm-offset-0 col-sm-offset-right-1">
                <div class="well bs-component">
                    <legend>{% trans "Or connect via" %}</legend>
                    {% load account socialaccount %}{% get_providers as socialaccount_providers %}
                      <ul class="socialaccount_provider list-unstyled fbot">
                        {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
                      </ul>
                </div>
            </div>
        </div>
{% endblock %}