<div ng-class="'objs'+r+'_'+t+(modal_loaded ? ' um' : '')" dynamic-controller="t+'sOnlyCtrl'" ng-cloak>
    <div class="angular-animate" ng-repeat="e in objs" ng-cloak>
        <div ng-if="e.person_status !== undefined || e.friend !== undefined" class="mb3">
            <span ng-if="e.friend === undefined || e.friend.count === undefined"
                ><span ng-if="e.friend === undefined && e.person_status[0] == -1" translate>{{ first_name || 'You' }} {{ e.when !== undefined ? 'posted' : e.price !== undefined ? 'added' : 'reviewed' }}:</span
                ><span ng-if="e.friend === undefined && e.person_status[0] != -1 && e.stars_avg === undefined" translate>{{ first_name || 'You' }} gave {{ e.person_status[0] == 1 ? 'like' : 'dislike' }} to:</span
                ><span ng-if="e.friend === undefined && e.person_status[0] != -1 && e.stars_avg !== undefined" translate="e.person_status[0]">{{ first_name || 'You' }} gave {{ e.person_status[0] }} star to:<br plural>{{ first_name || 'You' }} gave {{ e.person_status[0] }} stars to:</span
                ><span ng-if="e.friend !== undefined && (e.friend.status == -1 || e.target !== undefined || e.is_opened !== undefined)" translate><a ng-href="/user/{{ e.friend.username }}/"><strong>{{ e.friend.first_name }} {{ e.friend.last_name }}</strong></a> {{ e.when !== undefined ? 'posted' : e.price !== undefined ? 'added' : e.created !== undefined ? 'reviewed' : e.target !== undefined ? 'became a friend to' : 'favored' }}:</span
                ><span ng-if="e.friend !== undefined && e.friend.status !== undefined && e.friend.status != -1 && e.stars_avg === undefined" translate><a ng-href="/user/{{ e.friend.username }}/"><strong>{{ e.friend.first_name }} {{ e.friend.last_name }}</strong></a> gave {{ e.friend.status == 1 ? 'like' : 'dislike' }} to:</span
                ><span ng-if="e.friend !== undefined && e.friend.status != -1 && e.stars_avg !== undefined" translate="e.friend.status"><a ng-href="/user/{{ e.friend.username }}/"><strong>{{ e.friend.first_name }} {{ e.friend.last_name }}</strong></a> gave {{ e.friend.status }} star to:<br plural><a ng-href="/user/{{ e.friend.username }}/"><strong>{{ e.friend.first_name }} {{ e.friend.last_name }}</strong></a> gave {{ e.friend.status }} stars to:</span
            ></span
            ><span ng-if="e.friend !== undefined && e.friend.count !== undefined"
                ><span ng-repeat="p in e.friend.objs"><span ng-if="$last && e.friend.count <= 3"> {{ "and" | translate }} </span><a ng-href="/user/{{ p.username }}/"><strong>{{ p.first_name }} {{ p.last_name }}</strong></a><span ng-if="!$last && e.friend.count != $index + 2">, </span></span>
                <span ng-if="e.friend.count > 3" translate="e.friend.count" subtract="3">and {{ e.friend.count }} other friend<br plural>and {{ e.friend.count }} other friends</span><span>{{ e.is_opened !== undefined ? "favoured" : e.stars_avg !== undefined ? "rated" : "reacted to" | translate:null:'they' }}:</span
            ></span>
        </div>
        <div class="well bs-component clearfix pb18">
            <div ng-if="$parent.ts == undefined && (first_name !== undefined || u || id === undefined) || e.person !== undefined" ng-init="obj = e.business !== undefined ? e.business : e.target !== undefined ? e.target : e.person != undefined ? e.person : e.content_object !== undefined ? e.content_object : e">
                <legend><a class="n" ng-href="/{{ obj.shortname || 'user/'+obj.username }}/">{{ obj.name !== undefined ? obj.type_display+' "'+obj.name+'"' : obj.first_name+' '+obj.last_name }}</a><span ng-if="e.person != undefined && e.content_object !== undefined">{{ ", to:" | translate:null:'from user to which business' }} <a class="n" ng-href="/{{ e.content_object.shortname }}/">{{ e.content_object.type_display+' "'+e.content_object.name+'"' }}</a></span> <small ng-if="e.distance !== undefined" class="text-muted">&mdash; {{ "%s away" | translate:e.distance.value+e.distance.unit:'distance' }}</small></legend>
                <div class="pb8 pull-left"><a ng-href="/{{ obj.shortname || 'user/'+obj.username }}/"><img class="bor media-object" ng-src="{{ e.price !== undefined ? '/images/'+e.id+'/avatar/64/?item=1' : '/images/'+obj.id+'/avatar/64/'+(obj.shortname !== undefined ? '?business=1' : '') }}"></a></div>
            </div>
            <div ng-if="e.text !== undefined">
                <p>{{ e.text }} <small class="text-muted"><a ng-href="/#/show={{ e.id }}&type={{ t }}&showcomments" target="_blank">&mdash; {{ (e.when || e.created) | timeAgo }}</a></small></p>
            </div>
            <div ng-if="e.price !== undefined">
                <img class="img-responsive bor prof margin-center" ng-if="$parent.ts != undefined && $parent.ts != 0 || e.has_image" ng-src="/images/{{ e.id }}/avatar/?item=1{{ $parent.ts != undefined && $parent.ts != 0 ? $parent.ts : '' }}">
                <p><strong>{{ e.category_display }}:</strong> {{ e.name }} &mdash; {{ (e.converted || e.price)|currency:'' }} {{ e.converted === undefined ? e.business.currency || e.currency : user_curr }}</p>
            </div>
            <div ng-if="e.is_opened !== undefined">
                <p><span translate>Currently <strong>{{ e.is_opened ? 'opened' : 'closed' }}</strong></span><span translate="e.item_count">; {{ e.item_count }} item<br plural>; {{ e.item_count }} items</span><span translate="e.supported_curr.length" add="1">; supported currency:<br plural>; supported currencies:</span> <strong>{{ e.currency }}</strong><span ng-repeat="c in e.supported_curr">, <strong>{{ c }}</strong></span></p>
            </div>
            <div ng-if="e.friend_count !== undefined">
                <p
                    ><span ng-if="e.friend_count[0] > 0" translate="e.friend_count[0]">Has <a href="javascript:" ng-click="$parent.showFriendsModal(e.id || e.target.id)">{{ e.friend_count[0] }} friend</a><br plural>Has <a href="javascript:" ng-click="$parent.showFriendsModal(e.id || e.target.id)">{{ e.friend_count[0] }} friends</a></span
                    ><span ng-if="e.friend_count[0] == 0">{{ "Has no friends" | translate }}</span
                    ><span ng-if="e.friend_count[0] > 0 && e.friend_count[1] > 0" translate="e.friend_count[1]">; <strong>{{ e.friend_count[1] }}</strong> mutual friend<br plural>; <strong>{{ e.friend_count[1] }}</strong> mutual friends</span
                    ><span ng-if="e.friend_count[0] > 0 && e.friend_count[1] == 0">{{ "; no mutual friends" | translate }}</span
                ></p>
            </div>
            <div class="op br">
                <span ng-if="e.friend_count === undefined"
                    ><span ng-if="e.created !== undefined" star-rating="e.stars"></span

                    ><span ng-if="e.stars_avg === undefined"
                        ><span ng-include="'likes'" new-scope ng-init="o = [e, $index]"></span
                    ></span
                    ><span ng-if="e.stars_avg !== undefined"
                        ><span star-rating="e.stars_avg" user-number="e.likestars_count" user-rating="e.curruser_status" on-change="giveDisLike" on-click-stats="showDisLikes" func-params="{index: $index}"></span
                    ></span

                    ><span ng-if="e.is_opened === undefined"
                        ><a href="javascript:" ng-click="showComments($index)"><i class="fa fa-comment"></i> {{ "Comments (%s)" | translate:e.comment_count }}</a

                        ><span ng-if="e.when !== undefined && isFuture($index)"
                            ><a href="javascript:" class="rmn" uib-popover-template="'/static/main/modals/reminder.html'" popover-trigger="outsideClick" popover-is-open="cmb.opened[$index]" ng-click="initRmn($index)"><i class="fa fa-bell"></i> {{ "Remind me for this event" | translate }}</a
                            ><a href="javascript:" ng-click="notifySelect($index)"><i class="fa fa-users"></i> {{ "Notify friends" | translate }}</a
                        ></span

                        ><span ng-if="e.curruser_status == -1"><a href="javascript:" ng-dialog-message="{{ t == 'event' ? 'Are you sure that you want to delete this event?' : t == 'item' ? 'Are you sure that you want to delete this item?' : 'Are you sure that you want to delete this review?' | translate }}" ng-dialog-click="delete($index)"><i class="fa fa-times"></i> {{ "Remove" | translate }}</a></span
                    ></span
                ></span
                ><span ng-if="e.friend_count !== undefined" ng-include="'/static/main/friend.html'" new-scope ng-init="o = [e, $index]"></span>
            </div>
            <div ng-if="e.created !== undefined && e.main_comment != null"><div class="well bs-component clearfix br an cmn com" ng-include="'comment'" new-scope ng-init="m = {obj: e.main_comment}"></div></div>
            <div class="cmn" ng-if="e.is_opened === undefined && e.friend_count === undefined" ng-show="e.showcomm[1]">
                <a href="javascript:" class="mpd lm text-center" ng-show="e.showcomm[0] && e.next != null" ng-click="load_next($index)">{{ "Load older" | translate }}</a>
                <div class="cmn mb13 loa-c" ng-if="e.showcomm[0] == false"><i class="fa fa-spinner fa-2x"></i></div>
                <div ng-repeat="k in com"><div class="angular-animate com" ng-if="e[k] !== undefined" ng-include="'comment'" ng-repeat="c in e[k]" new-scope ng-init="m = {obj: c}"></div></div>
                <div class="form-group cmn mb7">
                    <textarea ng-attr-id="{{ t + $index }}" class="form-control" rows="1" ng-attr-placeholder="{{ 'Your comment' | translate }}" required maxlength="1000"></textarea>
                </div>
                <ul ng-if="e.created !== undefined && e.is_manager" class="nya-bs-select comb" ng-model="e.status" ng-init="e.status = choices[0]">
                    <li nya-bs-option="choice in choices"><a>{{ choice.name }}</a></li>
                </ul
                ><input type="submit" ng-attr-id="{{ t + $index }}b" class="btn btn-sm btn-primary" value="{{ 'Submit' | translate }}" ng-click="submitComment($index)">
            </div>
        </div>
        <hr ng-if="toggleHr(first_name !== undefined || !t, $last && !r)" class="mpd">
    </div>
    <a href="javascript:" class="lm mb13 text-center" ng-if="!r" ng-show="!loading && props.next" ng-click="load_page()">{{ "Load more" | translate }}</a>
    <div class="loa mb13 loa-c" ng-if="!r && loading"><i class="fa fa-spinner fa-2x"></i></div>
    <div class="nev" ng-if="!objs.length && !loading && (modal_loaded === undefined || close !== undefined)"><span ng-hide="checkAnim()">{{ "No results." | translate }}</span></div>
</div>