{% extends 'base/main.html' %}
{% load staticfiles %}

{% block htmlatt %} ng-app="mainApp"{% endblock %}

{% block titleatt %} ng-bind="title"{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static 'main/css/angular-aside.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nya-bs-select.min.css' %}">
    {% url 'create_business' as create_url %}{% if request.path == create_url %}<link rel="stylesheet" href="{% static 'main/css/login_signup.css' %}">{% endif %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/sett.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/dtpicker.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ui-router-extras/0.1.3/ct-ui-router-extras.min.js"></script>
    <script src="{% static 'main/js/angular-ui-router-uib-modal.js' %}"></script>
    <script src="{% static 'main/js/nya-bs-select.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="{% static 'main/js/angular-timeago.min.js' %}"></script>
    <script src="{% static 'main/js/ng-FitText.js' %}"></script>
    <script src="{% static 'main/js/angular-aside.min.js' %}"></script>
    <script src="{% static 'main/js/angular-datetime.js' %}"></script>
    <script src="{% static 'main/js/datetime-picker.min.js' %}"></script>
    {% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.0.9/ocLazyLoad.min.js"></script>
    <script src="{% static 'main/js/angular-css.min.js' %}"></script>{% endcomment %}
    <script src="{% static 'main/js/custom/main.js' %}"></script>
    <script>app.constant('BASE_MODAL', '{% static 'main/modals/base.html' %}')
            .constant('COMMENT_PAGE_SIZE', {{ settings.COMMENT_PAGE_SIZE }})
            .constant('NOTIF_PAGE_SIZE', {{ settings.NOTIFICATION_PAGE_SIZE }})
            .constant('CONTENT_TYPES', {% load getextend %}{{ '{' }}{% for ct in content_types %}{{ ct }}: {{ content_types|get_item:ct|get_attr:'pk' }}{% if forloop.last %}{{ '}' }}{% else %}, {% endif %}{% endfor %})
            .constant('HAS_STARS', {{ '{' }}{% for ct in has_stars %}{{ has_stars|get_item:ct }}: true{% if forloop.last %}{{ '}' }}{% else %}, {% endif %}{% endfor %})
            .constant('USER', {currency: '{{ request.user.currency }}'{% url 'account_login' as home_url %}{% if request.path == create_url or request.path == home_url %}, home: {latitude: {{ request.user.location.coords.1 }}, longitude: {{ request.user.location.coords.0 }}}{% endif %}})</script>{% endblock %}

{% block bodyatt %} ng-controller="MainCtrl"{% endblock %}

{% block begin %}<script type="text/ng-template" id="offcanvas">
    <div class="navmenu navmenu-default navmenu-fixed-right">
        <a class="n" ng-click="c()" href="{% url 'user_profile' request.user.username as user_url %}{% if request.path == user_url %}javascript:{% else %}{{ user_url }}{% endif %}"><img class="bor imo img-rounded" src="/images/{{ request.user.pk }}/avatar/48/"><span class="navmenu-brand">{{ request.user.first_name|add:' '|add:request.user.last_name|truncatechars:25 }}</span></a>
        <ul class="nav navmenu-nav">
            {% comment %}<li><a href="{% if request.path == "/" %}{{ current }}{% else %}/{% endif %}">Home</a></li>{% endcomment %}
            <li><a ng-click="c()" href="{% url 'create_business' as create_url %}{% if request.path == create_url %}javascript:{% else %}{{ create_url }}{% endif %}">Your business</a></li>
            {% comment %}<li><a href="{% if request.path == "/notifications/" %}{{ current }}{% else %}/notifications{% endif %}">Notifications</a></li>{% endcomment %}
            <li uib-dropdown><a href="javascript:" id="favourites" class="dropdown-toggle" uib-dropdown-toggle>Favourites <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav" uib-dropdown-menu aria-labelledby="favourites">
                    <li><a href="/#/filter=favourites" ng-click="c()">News feed</a></li>
                    <li><a href="javascript:" ng-click="showFavouritesModal(null)">Show list</a></li>
                    {% if favs.exists %}<li class="divider"></li>
                    <li class="dropdown-header">Recent</li>
                    {% for fav in favs %}<li><a ng-click="c()" href="{% url 'business_profile' fav.shortname as fav_url %}{% if request.path == fav_url %}javascript:{% else %}{{ fav_url }}{% endif %}">{{ fav.get_type_display|add:' "'|add:fav.name|add:'"'|truncatechars:39 }}</a></li>{% endfor %}{% endif %}
                </ul>
            </li>
            <li uib-dropdown><a href="javascript:" id="friends" class="dropdown-toggle" uib-dropdown-toggle>Friends <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav" uib-dropdown-menu aria-labelledby="friends">
                    <li><a href="/#/filter=friends" ng-click="c()">News feed</a></li>
                    <li><a href="javascript:" ng-click="showFriendsModal(null)">Show list</a></li>
                    {% if friends.exists %}<li class="divider"></li>
                    <li class="dropdown-header">Recent</li>
                    {% for friend in friends %}<li><a ng-click="c()" href="{% url 'user_profile' friend.username as friend_url %}{% if request.path == friend_url %}javascript:{% else %}{{ friend_url }}{% endif %}">{{ friend.first_name|add:' '|add:friend.last_name|truncatechars:39 }}</a></li>{% endfor %}{% endif %}
                </ul>
            </li>
            {% comment %}<li><a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav">{% endcomment %}
            <li><a href="javascript:" ng-click="showSettModal()">Change password/email(s)</a></li>
            <li><a href="javascript:" ng-click="showSettModal(1)">Localization</a></li>
            {% comment %}    </ul>
            </li>{% endcomment %}
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
    </div>
</script>{% endblock %}

{% block navbar_container %}{% endblock %}{% block navbar_container_end %}{% endblock %}
{% block navbar %}<form class="navbar-form navbar-left" role="search">
                <div class="form-group" click-outside="search.show = false">
                    <input type="text" class="form-control" id="sr" placeholder="Search" select-on-click ng-model="search.keywords" ng-change="search.func()" ng-focus="search.show = search.keywords != ''; search.chngl()" ng-model-options="{updateOn: 'default blur', debounce: {default: 1000, blur: 0}}">
                    <div id="quicks" ng-show="search.show" ng-cloak>
                        <div class="bu" ng-repeat="b in search.results" such-href="/{% verbatim %}{{ b.shortname }}{% endverbatim %}/">
                            <img class="bor mr7" ng-src="/images/{% verbatim %}{{ b.id }}{% endverbatim %}/avatar/32/?business=1"
                            ><span>{% verbatim %}{{ b.type_display+' "'+b.name+'"'}}{% endverbatim %}</span>
                        </div>
                        <div class="loa tc" ng-show="search.loading"><i class="fa fa-spinner"></i></div>
                        <a ng-if="search.count == null || search.count > 5" ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=business"><i class="fa fa-map-pin"></i> Pretraži{% verbatim %}{{ search.count != null ? " ostale" : '' }}{% endverbatim %} lokale...</a>
                        <a ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=event"><i class="fa fa-calendar"></i> Pretraži događaje...</a>
                        <a ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=item"><i class="fa fa-th-list"></i> Pretraži proizvode...</a>
                        <a ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=user"><i class="fa fa-users"></i> Pretraži korisnike...</a>
                    </div>
                </div>
            </form>
            <div id="nct" class="navbar-header pull-right" style="width: 105px;">
                <a id="notif" class="clickable" popover-placement="bottom-right" uib-popover-template="'{% static 'main/modals/notifications.html' %}'" popover-trigger="outsideClick" popover-is-open="opened"><i id="nf" class="fa" ng-class="unread ? 'fa-bell' : 'fa-bell-o'"></i></a>
                <button type="button" class="navbar-toggle" ng-click="showOffcanvas()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>{% endblock %}