<!DOCTYPE html>
<html lang="en"{% block htmlatt %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title{% block titleatt %}{% endblock %}>{% block title %}Gournet{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body{% block bodyatt %}{% endblock %}>
    {% block begin %}{% endblock %}

    <header class="navbar navbar-default navbar-fixed-top">
        {% block navbar_container %}<div class="container">{% endblock %}
            <a href="/" class="navbar-brand">Gournet</a>
            {% block navbar %}{% endblock %}
        {% block navbar_container_end %}</div>{% endblock %}
    </header>

    <div class="container w">{% block container %}{% endblock %}</div>

    <footer class="navbar navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">Copyright © 2016 by MikiSoft</p>
        </div>
    </footer>

    {% block end %}{% endblock %}
</body>
</html>