{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p>Hello from <strong>{{ site_name }}</strong>!</p>
<p>You're receiving this e-mail because you or someone else has requested a password for your user account at <a href="{{ site_domain }}">{{ site_name }}</a>.</p>
<p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>{% endblocktrans %}
<br>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
<br>
{% if username %}{% blocktrans %}<p>In case you forgot, your username is <strong>{{ username }}</strong>.</p>{% endblocktrans %}
<br>
{% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}<p>Thank you for using <strong>{{ site_name }}</strong>!</p>{% endblocktrans %}
<p><a href="{{ site_domain }}">{{ site_domain }}</a></p>{% endautoescape %}