<div class="modal-header">
    <h3>Friends</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true" style="font-size: 30px; margin-top: -5px;">&times;</button>
</div>

<div class="modal-body">
	<div class="container-fluid">
		<div class="row fri">
			<div class="col-xs-4 col-sm-3 col-lg-2" ng-repeat="e in friends">
				<a class="oh well n" ng-href="/user/{{ e.username }}/">
					<img class="img-thumbnail margin-center prof" ng-src="/images/{{ e.username }}/avatar/">
					<p class="text-center br3 def" data-fittext>{{ e.first_name }} {{ e.last_name }}</p>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-lg-2" ng-show="next_page && loaded">
				<a href="#" ng-click="load_page()" style="text-decoration: none;" class="well">
                    <i class="text-center fa fa-ellipsis-v fa-4x"></i>
					<p class="text-center br3 def">Load more</p>
				</a>
			</div>
		</div>
	</div>
    <div class="loa loa-c" ng-if="!loaded"><i class="fa fa-spinner fa-2x"></i></div>
</div>