<div class="dt" ng-if="notifs.length">
    <div ng-repeat="e in notifs">
        <div ng-if="$index > 0"><hr></div>
        <a ng-class="{'text-info': e.unread}" href="/{{ e.link }}/"><p ng-bind-html="e.text | unsafe"></p>
        <p class="text-muted small text-left">{{ e.created | timeAgo }}</p></a>
    </div>
    <div ng-show="has_next_page">
        <hr>
        <a ng-show="!loading" href="#" class="lm text-center" ng-click="getNotifs(true)">Load more</a>
        <div class="loa loa-c" ng-if="loading"><i class="fa fa-spinner"></i></div>
    </div>
</div>
<div class="dt" ng-if="!notifs.length">You don't have any notifications yet.</div>

<script>
    $(function() {
        var e = $('#notif').next();
        var func = setInterval(function() {
            if (e.offset().left != -9999) {
                clearInterval(func);
                //console.log($(window).width()+' '+(e.width()+66));
                if ($(window).width() <= e.width()+66) {
                    e.addClass('notif');
                    e.children('.arrow').css('left', $("#nf").offset().left+6);
                }
            }
        }, 0);
    });
</script>