#nf {
    color: white;
    margin: 6px 0 0;
    font-size: 2.8em;
}

.well {
    background-color: #fffdfd;
	/*padding-bottom: 15px;*/
}
legend {
    font-size: 20px;
    margin: -5px 0 15px 0;
    float: right;
}
.media-object {
    float: left;
    margin: -10px 15px -5px 0;
    width: 64px;
    height: 64px;
}
.imo {
    width: 48px;
    height: 48px;
    float: left;
    margin: 6px 10px 0 6px;
}
.bor {
    border: 1px solid #e5e5e5;
}
.av {
    max-width: 128px;
    min-height: 80px;
}
.mb {
    margin-top: 10px;
}
.im {
    margin-top: -20px;
}
@media (max-width: 992px) {
    .im {
        margin-top: -10px;
    }
}
.br {
    padding-top: 7px;
    margin-bottom: -5px;
}
.br > a, .b {
    margin-right: 10px;
}
.n:link, .n:visited, .n:active, .n:hover {
    text-decoration: none;
}

@media (max-width: 487px) {
    #sr {
        width: 170px;
    }
}

@media (max-width: 424px) {
    #sr {
        width: 135px;
    }
}

@media (max-width: 387px) {
    #sr {
        width: 85px;
    }
}

@media (max-width: 480px) {
    .modal:not(modal-confirm) .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .modal:not(.modal-confirm) .modal-content {
        min-height: 100%;
        height: auto;
        border-radius: 0;
    }
}

html, body {
  height: 100%;
}

body {
	margin-bottom: 0;
}

.navbar-toggle {
    float: right;
    margin-right: 10px;
}

.navmenu-fixed-right {
    left: auto !important;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

.clickable {
    cursor: pointer;
}

#notif > .fa-bell {
    color: #ffc200;
}

#notif + .popover {
    max-width: 99%;
    /*min-width: 300px;*/
}

#notif + .popover .popover-content {
    padding: 0;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 70vh;
}

#notif + .popover .dt {
    padding: 9px 14px;
}

.notif {
    left: 1px !important;
    white-space: normal !important;
}
/*.notif > .arrow {
    left: 85% !important;
}*/

#notif + .popover p:not(.small) {
    margin-bottom: 5px;
}

#notif + .popover p:last-of-type, .lm, .br3 {
    margin: 0;
}

.br3 {
	font-size: 20px;
}

@media (max-width: 768px) {
  .br3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .br3 {
    font-size: 16px;
  }
}

#notif + .popover hr {
    margin: 10px 0;
}

#notif + .popover a:not(.text-info):not(.lm), .well.n {
    color: inherit;
}

.loa {
    padding: 0 2px 1px;
}

.oh {
    overflow: hidden;
}

.loa-c {
    display: table;
    margin: 0 auto;
}

.fa-spinner {
    margin-bottom: 3px;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prof {
    width: 128px;
    margin-bottom: 12px !important;
}

.fri > div {
    min-width: 135px;
    max-width: 175px;
}

.fri > div > a, .fri .fa-ellipsis-v, .lm {
    display: block !important;
}

.fri .fa-ellipsis-v {
    margin: 12px 0;
    color: #e1e1e1;
}