.modal-header {
    padding-bottom: 5px;
}

.modal-header h3 {
    margin: 0;
    display: inline;
}

.modal-body .form-control {
    width: 250px;
}

.modal-body p:not(.def), .loa {
    margin-bottom: 4px;
}

.modal-body .alert {
    margin-top: 7px;
}

.modal-body .form-control, .bt3, .modal-body .alert {
    margin-bottom: 7px;
}
.bt3 .btn {
    margin-top: 5px;
}

.btr {
    margin-right: 3px;
}

.hor {
    margin-bottom: 13px;
}

.nav-justified-inverse > li {
    float: none;
}

@media (max-width: 992px) {
    .fm2 {
        margin-top: 20px;
    }

    .nav-justified-inverse > li {
        display: inline-block;
        width: 49%;
    }
}