<div class="modal-header">
    <h3>{{ title }}</h3>
    <button class="close" ng-click="close()">&times;</button>
</div>

<div class="modal-body">
    <div ng-include="'/static/main/modals/'+file+'.html'" onload="set_modal_loaded()"></div>
    <div class="loa loa-c" ng-if="modal_loaded != true"><i class="fa fa-spinner fa-2x"></i></div>
</div>

<div class="modal-footer" ng-if="button_text !== undefined">
    <button ng-if="!working" class="btn btn-primary" ng-click="doAction()" ng-disabled="check_disabled()">{{ button_text | translate:sel_cnt }}</button><b ng-if="working">{{ "Working..." | translate }}</b>
</div>