<div class="dt" ng-if="notifs.length">
    <div ng-repeat="e in notifs">
        <hr ng-if="!$first">
        <a ng-class="{'text-info': e.unread}" href="{{ e.link }}"><p ng-bind-html="e.text | unsafe"></p>
        <p class="text-muted small text-left">{{ e.created | timeAgo }}</p></a>
    </div>
    <div ng-show="has_next_page">
        <hr>
        <a ng-show="!loading" href="#" class="lm text-center" ng-click="getNotifs(true)">Load more</a>
        <div class="loa loa-c" ng-if="loading"><i class="fa fa-spinner"></i></div>
    </div>
</div>
<div class="dt" ng-if="!notifs.length">You don't have any notifications yet.</div>

<script>
    angular.element(document).ready(function () {
        var e = angular.element('#notif').next();
        var func = setInterval(function () {
            //console.log(angular.element(window).width() - (e.offset().left + e.outerWidth()));
            if (e.offset().left == 0 || angular.element(window).width() - (e.offset().left + e.outerWidth()) == 66) {
                clearInterval(func);
                //console.log(angular.element(window).width()+' '+(e.width()+66));
                if (angular.element(window).width() <= e.width() + 66) {
                    e.addClass('notif');
                    e.children('.arrow').css('left', angular.element("#nf").offset().left + 6);
                    //e.children('.popover-content').css('white-space', 'normal');
                    angular.element('#nct').scope().enableScroll(); // e = e.find('.popover-content');
                    // angular.element('#nct').scope().$apply(); // if (e.height() < 18+e.children('.dt').height()) e.css('overflow-y', 'scroll'); else e.css('overflow-y', 'hidden');
                }
            }
        }, 0);
    });
</script>