<div class="dt" ng-if="notifs.length">
    <div ng-repeat="e in notifs">
        <hr ng-if="!$first">
        <a ng-class="{'text-info': e.unread}" href="{{ e.link }}"><p ng-bind-html="e.text | unsafe"></p>
        <p class="text-muted small text-left">{{ e.created | timeAgo }}</p></a>
    </div>
    <div ng-show="has_next_page">
        <hr>
        <a ng-show="!notif_loading" href="javascript:" class="lm text-center" ng-click="getNotifs(true)">Load more</a>
        <div class="loa loa-c" ng-if="notif_loading"><i class="fa fa-spinner"></i></div>
    </div>
</div>
<div class="dt" ng-if="!notifs.length">You don't have any notifications yet.</div>