<script type="text/ng-template" id="paymentPopover">
    <input type="submit" class="btn btn-info" ng-attr-value="{{ 'Cash' | translate }}" ng-click="doAction(1)">
    <input type="submit" class="btn btn-info" ng-attr-value="{{ 'Debit card' | translate }}" ng-click="doAction(2)">
</script>
<div ng-class="{'um': modal_loaded}" ng-controller="OrderCtrl" ng-cloak>
    <div class="ord-popup mpd" ng-if="order">
        <table class="table tb ord mb15 table-hover" ng-if="$parent.order.ordered_items.length > 0">
            <tbody>
                <tr ng-repeat="i in $parent.order.ordered_items" ng-if="$parent.is_waiter || i.is_preparer">
                    <td><a ng-attr-href="#/show={{ i.item.id }}&type=item">
                        <img ng-src="/images/item/{{ i.item.id }}/avatar/32/"
                        ><div>{{ i.item.name }}</div>
                    </a><span ng-if="i.made != null"> - {{ i.made|date:'dd.MM.yyyy HH:mm' }}</span></td>
                    <td>
                        <div>
                            <div ng-if="$parent.is_waiter && i.item.price > 0" class="pull-right">{{ i.item.converted || i.item.price|currency:curr }}</div>
                            <strong>{{ i.quantity }}x</strong> <strong ng-if="$parent.is_waiter && i.item.price > 0">({{ i.quantity * (i.item.converted || i.item.price)|currency:curr }})</strong>
                            <a ng-if="!$parent.is_waiter && i.is_preparer && $parent.order.delivered == null && i.made == null" href="javascript:" class="pull-right" ng-click="doAction(i.id)"><i class="fa fa-check"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p ng-if="order.note"><strong>{{ "Note:" | translate }}</strong> {{ order.note }}</p>
        <div class="ib mr12"><strong>{{ "Ordered at:" | translate }}</strong> {{ order.created|date:'dd.MM.yyyy HH:mm' }}</div>
        <div class="pull-right ml12" ng-if="is_waiter && total > 0"><strong>{{ "Total:" | translate }}</strong> {{ total|currency:curr }}</div>
        <div ng-if="order.delivered" class="ib" ng-if="is_waiter"><strong>{{ "Delivered at:" | translate }}</strong> {{ order.delivered|date:'dd.MM.yyyy HH:mm' }}</div>
        <button type="button" class="btn btn-primary pull-right ml12" ng-if="!is_waiter && order.delivered == null && order.finished == null && total !== order.ordered_items.length" ng-disabled="working" ng-click="doAction(true)">{{ total > 0 ? "Mark remaining as made" : "Mark all as made" | translate }}</button>
        <button type="button" class="btn btn-primary pull-right ml12" ng-if="is_waiter && total > 0 && order.finished == null && order.requested == null && order.person === undefined" ng-disabled="working" uib-popover-template="'paymentPopover'" popover-title="{{ 'Select type of payment' | translate }}" popover-trigger="outsideClick" popover-is-open="opened" ng-click="opened = !opened" popover-placement="bottom-left">{{ "Request payment" | translate }}</button>
        <button type="button" class="btn btn-primary pull-right ml12" ng-if="is_waiter && order.finished == null && order.requested == null && order.person !== undefined && !order.delivered" ng-disabled="working" ng-click="doAction()">{{ "Mark as delivered" | translate }}</button>
        <div class="ib pull-right ml12" ng-if="is_waiter && order.finished == null && order.person === undefined && order.requested != null && order.request_type > 0"><strong>{{ "To be paid with:" | translate }}</strong> {{ order.request_type === 1 ? "Cash" : "Debit card" | translate }}</div>
        <a class="ib pull-right ml12" href="javascript:" ng-if="is_waiter && order.requested == null && order.delivered == null && order.finished == null && order.person === undefined" ng-dialog-message="{{ 'Are you sure that you want to cancel this order? This action cannot be undone.' | translate }}" ng-dialog-click="doAction(0)" ng-bind="'Request cancellation' | translate"></a>
        <a class="ib pull-right ml12" href="javascript:" ng-if="is_waiter && total > 0 && order.finished == null && order.person !== undefined" ng-click="doAction(null)" ng-bind-html="order.request_type === 1 ? 'This is already paid with <strong>cash</strong>?' : order.request_type === 2 ? 'This is already paid by <strong>card</strong>?' : order.request_type === 0 ? 'Confirm cancellation' : 'This is already paid?' | translate | unsafe"></a>
        <div class="ib mr12" ng-if="is_waiter && order.requested"><strong>{{ order.request_type > 0 ? "Requested payment at:" : "Requested cancellation at:" | translate }}</strong> {{ order.requested|date:'dd.MM.yyyy HH:mm' }}</div>
        <div class="ib pull-right ml12" ng-if="order.finished"><strong>{{ !is_waiter || order.request_type === 0 ? order.request_type === 0 ? "Cancelled at:" : "Finished at:" : order.request_type === 1 ? "Paid with cash at:" : order.request_type === 2 ? "Paid by debit card at:" : "Paid at:" | translate }}</strong> {{ order.finished|date:'dd.MM.yyyy HH:mm' }}</div>
        <div style="clear: both;"></div>
    </div>
    <div class="nev" ng-if="!order && !loading && (modal_loaded === undefined || close !== undefined)"><span ng-hide="checkAnim()">{{ "No results." | translate }}</span></div>
</div>