body {
	padding-top: 80px;
}

.f1 {
	margin-top: 12px;
}

.f {
	margin-top: 8px;
}

footer {
	background-color: #f5f5f5;
}

.w {
  min-height: 100%;
  padding-bottom: 70px;
}

.container .text-muted {
    margin: 20px 0;
}