html, body {
  height: 100%;
}

body {
	margin-bottom: 0;
}

.navbar-toggle {
    float: right;
    margin-right: 15px;
}

.navmenu-fixed-right {
    left: auto !important;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}