                    {% load bootstrap3 %}{% load i18n %}{% url 'create_business' as create_url %}{% if request.path != create_url %}{% bootstrap_field form.phone %}
                    {% endif %}{% bootstrap_field form.supported_curr %}
                    <hr>
                    {% bootstrap_field form.address addon_after='<button class="btn btn-default" type="button" ng-click="geocode()" ng-disabled="geocoder == undefined'|add:f.1|add:'"><i class="fa fa-refresh"></i></button>' %}
                    {% bootstrap_field form.location addon_after='<button class="btn btn-default" type="button" ng-click="refresh()" ng-disabled="map == undefined'|add:f.1|add:'"><i class="fa fa-dot-circle-o"></i></button>' %}
                    <ui-gmap-google-map ng-if="map !== undefined" control="map.control" center="map.center" zoom="map.zoom">
                        <ui-gmap-marker coords="map.marker.coords" options="map.marker.options" events="map.marker.events" idkey="map.marker.id"></ui-gmap-marker>
                    </ui-gmap-google-map>
                    <div class="loa loa-c" ng-if="map === undefined"><i class="fa fa-spinner fa-2x"></i></div>
                    <hr>{% with before='<span class="dropup"><input type="hidden" datetime-picker="HH:mm" ng-model="'|add:f.0|add:'[{i}]"'|add:f.2|add:' enable-date="false" is-open="isOpen[{i}]"></span>' class='form-group seti' button='<button class="btn btn-default" type="button" ng-click="isOpen[{i}] = true"'|add:f.2|add:'><i class="fa fa-clock-o"></i></button>' %}
                    {{ before|r_i:0|safe }}{% bootstrap_field form.opened form_group_class=class addon_after=button|r_i:0 %}
                    <div class="ib">{{ before|r_i:1|safe }}{% bootstrap_field form.closed form_group_class=class addon_after=button|r_i:1 %}</div>
                    <div class="checkbox"><label><input name="t" type="checkbox" ng-init="work[0] = {% if request.path != create_url %}data.value[0].length >= 4{% else %}{% load getextend %}{% if request.POST|get_item:'t' == 'on' %}true{% else %}false{% endif %}{% endif %}" ng-model="work[0]"{{ f.2|safe }}> {% blocktrans %}My business also works on <strong>Saturday</strong>{% endblocktrans %}.</label></div>
                    <div ng-show="work[0]">
                        {{ before|r_i:2|safe }}{% bootstrap_field form.opened_sat form_group_class=class addon_after=button|r_i:2 %}
                        <div class="ib">{{ before|r_i:3|safe }}{% bootstrap_field form.closed_sat form_group_class=class addon_after=button|r_i:3 %}</div>
                    </div>
                    <div class="checkbox" ng-class="{'mb15': !work[1]}"><label><input name="t1" type="checkbox" ng-init="work[1] = {% if request.path != create_url %}data.value[0].length == 6{% else %}{% if request.POST|get_item:'on' == '1' %}true{% else %}false{% endif %}{% endif %}" ng-model="work[1]"{{ f.2|safe }}> {% blocktrans %}And on <strong>Sunday</strong>, too{% endblocktrans %}.</label></div>
                    <div ng-show="work[1]">
                        {{ before|r_i:4|safe }}{% bootstrap_field form.opened_sun form_group_class=class addon_after=button|r_i:4 %}
                        <div class="ib">{{ before|r_i:5|safe }}{% bootstrap_field form.closed_sun form_group_class=class addon_after=button|r_i:5 %}</div>{% endwith %}
                    </div>
                    <input type="submit" class="f1 btn btn-primary btn-block{% if request.path != create_url %} loaded" value="{% trans "Save" %}" ng-click="doSave(){% else %}" value="{% trans "Create" %}{% endif %}"{{ f.2|safe }}>