{% extends 'base/home.html' %}

{% block head %}{{ block.super }}
    {% load staticfiles %}<script src="{% static 'main/js/custom/home.js' %}"></script>
    <script>app.constant('SEARCH_PAGE_SIZE', {{ settings.SEARCH_PAGE_SIZE }})</script>{% endblock %}
{% block title %}Home - Gournet{% endblock %}
{% block container %}
        <div id="map" class="bor" style="height: 250px; margin-bottom: 40px;"></div>
        <script>
        function initMap() {
            var myLatLng = {lat: 42.5567616, lng: 21.8621273};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                streetViewControl: false,
                center: myLatLng
            });

            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map/*,
                draggable: true*/
            });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

        <script type="text/ng-template" id="search">
            <p><i class="fa fa-search"></i> Searching <strong>{% verbatim %}{{ t == 'user' ? "users" : t == "business" ? "businesses" : t == 'item' ? "items" : "events" }}{% endverbatim %}</strong>, with keyword(s): <strong>{% verbatim %}{{ keywords }}{% endverbatim %}</strong>. <a href="#/"><i class="fa fa-chevron-left"></i> Go back.</a></p>
            <div ng-include="'/static/main/events.html'"></div>
        </script>
        <div ui-view="main"></div>
{% endblock %}