{% extends 'base/main.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Welcome to Gournet{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
    <style>
        body {
            padding-top: 80px;
        }

        .jumbotron {
            margin-bottom: 0;
        }

        /*.navbar-collapse.collapse {
            display: block;
        }

        .navbar-nav.navbar-right:last-child {
            margin-right: -15px !important;
        }*/
    </style>{% endblock %}

{% block navbar %}<div class="navbar-collapse collapse in" id="navbar-main">
                <ul class="nav navbar-nav navbar-header pull-right"><li><a href="{% url 'account_signup' %}" class="text-right">New here? Click to sign up!</a></li></ul>
            </div>{% endblock %}

{% block container %}
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h2>Welcome to Gournet!</h2>
                    <p>Gournet is a place where you can find your favourite restaurants, cafes, pubs, and much more! Join our community to explore all the features this platform offers!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well bs-component">
                    <form class="form-vertical" action="{% url 'account_login' %}" role="form" method="post">
                        {% csrf_token %}{% load bootstrap3 %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <legend>{% trans "Login" %}</legend>
                        {% bootstrap_form form %}
                        <button type="submit" class="f1 btn btn-primary btn-block">Login</button>
                        <div class="f"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

{% block end %}
    <script type="text/javascript">
        window.onload = function() {
            if ($(".alert-danger")[0]) {
                $('html, body').scrollTop($(".alert-danger")[0].offset().top);
            }
        }
    </script>
{% endblock %}