<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Gournet</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    body {
      padding-top: 80px;
    }

   .navbar-collapse.collapse {
        display: block;
    }

    .navbar-nav>li, .navbar-nav {
        float: left;
    }

    /*.navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }*/

    .navbar-right {
        float: right;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Gournet</a>
            <div class="navbar-collapse collapse in" id="navbar-main">
                <ul class="nav navbar-nav navbar-right"><li><a href="{% url 'account_signup' %}" class="text-right">New here? Click to sign up!</a></li></ul>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h2>Welcome to Gournet!</h2>
                    <p>Gournet is a place where you can find your favourite restaurants, cafes, pubs, and much more! Join our community to explore all the features this platform offers!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well bs-component">
                    <form class="form-vertical" action="{% url 'account_login' %}" role="form" method="post">
                        {% csrf_token %}{% load bootstrap3 %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <legend>Login</legend>
                        {% bootstrap_form form %}
                        <button type="submit" class="f1 btn btn-primary btn-block">Login</button>
                        <div class="f" id="f"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="navbar navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">Copyright © 2016 by MikiSoft</p>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function() {
            window.onload = function() {
                if ($(".alert-danger")[0]) {
                    $('html, body').scrollTop($("#f").offset().top);
                }
            };
        });
    </script>
</body>
</html>