{% extends 'base/view.html' %}

{% block title %}{{ user.first_name }} {{ user.last_name }} - Gournet{% endblock %}
{% block head %}{{ block.super }}
    {% load staticfiles %}<script src="{% static 'main/js/custom/user.js' %}"></script>{% endblock %}

{% block bodyatt %}{{ block.super }} ng-init="id = {{ user.pk }}; first_name = '{{ user.first_name }}'; u = {rel_state: {{ rel_state }}, friend_count: {{ friend_count }}}"{% endblock %}

{% block rowatt %}ng-controller="UserCtrl"{% endblock %}

{% block name %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block img %}{{ user.username }}/avatar/{% endblock %}

{% block other %}<li><a href="https://maps.google.com/maps?q={{ user.get_location_display }}"><i class="fa fa-map-marker"></i> {{ user.get_location_display }}</a></li>
                        <li
                            ><a href="javascript:" ng-click="showFriendsModal()" ng-if="$parent.u.friend_count > 0"><i class="fa fa-users"></i> <strong>{% verbatim %}{{ $parent.u.friend_count }}{% endverbatim %}</strong></a
                            ><i class="fa fa-users" ng-if="$parent.u.friend_count == 0"></i>
                            <span ng-switch="$parent.u.friend_count"
                                ><span ng-switch-default>osobe su {% if rel_state > -1 %}mu{% else %}ti{% endif %} prijatelji</span
                                ><span ng-switch-when="1">osoba {% if rel_state > -1 %}mu{% else %}ti{% endif %} je prijatelj</span
                                ><span ng-switch-when="0">{% if rel_state > -1 %}Nema{% else %}Nemaš{% endif %} prijatelja</span
                            ></span>
                        </li>
                        {% if rel_state > -1 %}<li><span ng-include="'/static/main/friend.html'" new-scope ng-init="o = [$parent.u]"></span></li>{% endif %}{% endblock %}

{% block content %}<uib-tab ng-repeat="tab in tabs" index="$index" heading="{% verbatim %}{{ tab.display }}{% endverbatim %}">
						<div class="mn1" ng-init="t = tab.name.slice(0, -1)" ng-if="objloaded[$index] || active == $index" ng-include="'/static/main/events.html'"></div>
                    </uib-tab>{% endblock %}