{% extends 'base/view.html' %}

{% block title %}{{ business.get_type_display }} "{{ business.name }}" - Gournet{% endblock %}

{% block head %}{{ block.super }}
    {% comment %}<style>
        .remp {
            padding-bottom: 0;
        }
        .hrm {
            margin: 13px;
        }</style>{% endcomment %}{% load staticfiles %}<script src="{% static 'main/js/custom/view.js' %}"></script>
    {% if fav_state == -1 %}<script src="{% static 'main/js/custom/manager.js' %}"></script>{% endif %}{% endblock %}

{% block bodyatt %}{{ block.super }} ng-init="id = {{ business.id }}"{% endblock %}

{% block rowatt %}ng-controller="BusinessCtrl" ng-init="fav_count = {{ fav_count }}; fav_state = {{ fav_state }}; minchar = {{ minchar }}"{% endblock %}

{% block name %}{{ business.get_type_display }} "{{ business.name }}"{% endblock %}

{% block img %}{{ business.pk }}/avatar/?business=1{% endblock %}

{% block other %}<li><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> | 4.0</li>
                        <li
                            ><span ng-if="fav_count > 0"
                                ><a href="javascript:" ng-click="showFavouritesModal()"
                                    ><i class="fa fa-heart"></i> <strong>{% verbatim %}{{ fav_count }}{% endverbatim %}</strong
                                ></a> {% verbatim %}{{ fav_count > 1 ? "osobe su favorizovale" : "osoba je favorizovala" }}{% endverbatim %} ovo</span
                            ><span ng-if="fav_count == 0"
                                ><i class="fa fa-heart"></i> Niko nije favorizovao ovo</span
                        ></li>
                        {% if fav_state > -1 %}<li
                            ><a href="javascript:" {% comment %}ng-dialog-message="{% verbatim %}{{ fav_state_msg }}{% endverbatim %}" {% endcomment %}ng{% comment %}-dialog{% endcomment %}-click="doFavouriteAction()"
                                ><span ng-if="fav_state == 0"
                                    ><i class="fa fa-plus-square"></i> {% verbatim %}{{ fav_count > 0 ? "I meni je omiljeno" : "Meni je omiljeno" }}{% endverbatim %}</span
                                ><span ng-if="fav_state == 1"
                                    ><i class="fa fa-minus-square"></i> Nije mi više omiljeno</span
                            ></a
                        ></li>
                        {% comment %}<li><a href="javascript:"><i class="fa fa-ticket"></i> Rezervisanje mesta</a></li>{% endcomment %}
                        {% endif %}<li>
                            <hr style="margin: 8px 13px 13px;">
                            <ul class="list-unstyled">
                                <li><b class="text-success">Trenutno otvoreno</b></li>
                                <li><i class="fa fa-sign-in"></i> Radnim danima od 8h do 20h</li>
                                <li><i class="fa fa-sign-in"></i> Subotom od 8h do 15h</li>
                            </ul>
                        </li>
                        <li><ul class="list-unstyled">
                                <li><a href="https://maps.google.com/maps?q=Vojvode Mišića 79, Niš"><i class="fa fa-map-marker"></i> Vojvode Mišića 79, Niš</a></li>
                                <li><i class="fa fa-phone"></i> +381 18/756-235</li>
                            </ul>
                        </li>
                        <li><ul class="list-unstyled">
                                <li><a href="https://maps.google.com/maps?q=Kraljevića Marka 34, Vranje"><i class="fa fa-map-marker"></i> Kraljevića Marka 34, Vranje</a></li>
                                <li><i class="fa fa-phone"></i> +381 64/22-59-137</li>
                            </ul>
                        </li>{% endblock %}

{% block content %}{% if not business.is_published %}                    <uib-alert id="unpub" type="warning">Your business won't be visible to others until you add some items to it.</uib-alert>

                    {% endif %}<uib-tab index="0" heading="Events">
{% if fav_state == -1 %}						<div class="well bs-component clearfix wp" ng-controller="EventCtrl">
							<form name="forms.event" ng-submit="submitEvent()" class="frm form-vertical">
                                <uib-alert class="mpd" type="danger" close="forms.event.alert = false" ng-if="forms.event.alert">Please enter a message with {{ minchar }} or more characters.</uib-alert>
                                <div class="form-group" ng-class="{'has-error': forms.event.alert}">
								    <textarea name="text" class="form-control" rows="3" required></textarea>
                                </div>
                                <p class="input-group" style="width: 250px;">
                                    <input type="hidden" datetime-picker="dd.MM.yyyy HH:mm" datepicker-options="picker.options" ng-model="picker.date" is-open="picker.open">
                                    <input type="text" class="form-control" datetime="dd.MM.yyyy HH:mm" ng-model="picker.date" min="{% verbatim %}{{ picker.options.minDate.toUTCString() }}{% endverbatim %}">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="picker.open = true"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
								<input type="submit" class="btn btn-primary" value="Submit">
							</form>
						</div>

{% endif %}                        <div class="mn1 vi" ng-init="t = 'event'" ng-if="objloaded[0] || active == 0" ng-include="'/static/main/events.html'"></div>
                    </uib-tab>

                    <uib-tab index="1" heading="Menu">
{% if fav_state == -1 %}						<div class="well bs-component clearfix wp" ng-controller="ItemCtrl">
							<form name="forms.item" ng-submit="submitItem()" class="frm form-vertical">
                                <uib-alert class="mpd" type="danger" close="forms.item.alert = undefined" ng-if="forms.item.alert !== undefined">Please enter a valid name (it {% verbatim %}{{ forms.item.alert === true ? "must have minimum 2 characters" : "conflicts with the existing item" }}{% endverbatim %}).</uib-alert>
                                <div class="form-group" ng-class="{'has-error': forms.item.alert !== undefined}">
                                    <input name="name" type="text" class="form-control" required>
                                </div>
                                <div class="input-group">
                                    <input type="number" name="price" step="0.01" min="0" class="form-control" required>
                                    <span class="input-group-addon">{{ business.currency }}</span>
                                </div>
                                {% load bootstrap3 %}{% bootstrap_field form.cat %}
								<input type="submit" class="btn btn-primary" value="Submit">
							</form>
						</div>

{% endif %}                        <div class="mn">
                            <div class="angular-animate" ng-if="objloaded[1] && c.hascontent" ng-repeat="c in menu" ng-cloak>
                                <hr ng-if="!c.first">
                                <h4 ng-bind="c.name"></h4>
                                <div class="angular-animate" ng-repeat="sc in c.content" ng-if="sc.content.length > 0">
                                    <h5 class="text-center">{% verbatim %}{{ sc.name }}{% endverbatim %}</h5>
                                    <table class="table table-hover tb">
                                        {% comment %}<thead>
                                            <tr>
                                                <th>Ime proizvoda</th>
                                                <th>Cena</th>
                                            </tr>
                                            </thead>{% endcomment %}
                                        <tbody>
                                            <tr class="angular-animate" ng-repeat="i in sc.content" such-href="#/show={% verbatim %}{{ i.id }}{% endverbatim %}&type=item&nobusiness">
                                                <td><img class="bor" ng-src="/images/{% verbatim %}{{ i.id }}{% endverbatim %}/avatar/32/?item=1"><div>{% verbatim %}{{ i.name }}{% endverbatim %}</div></td>
                                                <td><div>{% verbatim %}{{ i.price }}{% endverbatim %} {{ business.currency }}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mt5 mb13 loa loa-c" ng-if="active == 1 && !objloaded[1]"><i class="fa fa-spinner fa-2x"></i></div>
                        </div>
					</uib-tab>

                    <uib-tab index="2" heading="Reviews">
{% if fav_state != -1 %}						<div ng-if="showrevf" class="well bs-component clearfix wp">
							<form name="forms.review" ng-submit="submitReview()" class="frm form-vertical">
                                <uib-alert class="mpd" type="danger" close="forms.review.alert = 0" ng-if="forms.review.alert > 0">{% verbatim %}{{ forms.review.alert != 2 ? "Please enter a message with "+minchar+" or more characters." : '' }} {{ forms.review.alert != 1 ? "Please select how many stars you give." : '' }}{% endverbatim %}</uib-alert>
                                <div class="form-group" ng-class="{'has-error': forms.review.alert == 1 || forms.review.alert == 3}">
								    <textarea name="text" class="form-control" rows="3" required></textarea>
                                </div>
                                <div class="mpd" star-rating rating-value="forms.review_stars" user-rating="forms.review_stars"></div>
								<input type="submit" class="btn btn-primary" value="Submit">
							</form>
						</div>

{% endif %}                        <div class="mn1 vi" ng-init="t = 'review'" ng-if="objloaded[2] || active == 2" ng-include="'/static/main/events.html'"></div>
                    </uib-tab>{% endblock %}