{% extends 'base/view.html' %}

{% block title %}{{ business.get_type_display }} "{{ business.name }}" - Gournet{% endblock %}

{% block head %}{{ block.super }}
    {% comment %}<style>
        .remp {
            padding-bottom: 0;
        }
        .hrm {
            margin: 13px;
        }</style>{% endcomment %}{% load staticfiles %}<script src="{% static 'main/js/custom/view.js' %}"></script>
    {% if fav_state == -1 %}<script src="{% static 'main/js/custom/manager.js' %}"></script>{% endif %}{% endblock %}

{% block bodyatt %}{{ block.super }} ng-init="id = {{ business.id }}"{% endblock %}

{% block rowatt %}ng-controller="BusinessCtrl" ng-init="favoured_count = {{ business.favoured_by.count }}; fav_state = {{ fav_state }}{% if fav_state == -1 %}; minchar = {{ minchar }}{% endif %}"{% endblock %}

{% block name %}{{ business.get_type_display }} "{{ business.name }}"{% endblock %}

{% block img %}{{ business.pk }}/avatar/?business=1{% endblock %}

{% block other %}<li><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> | 4.0</li>
                        <li><span ng-if="favoured_count > 0"><a href="javascript:" ng-click="showFavouritesModal(1)"><i class="fa fa-heart"></i> <strong>{% verbatim %}{{ favoured_count }}{% endverbatim %}</strong></a> {% verbatim %}{{ favoured_count > 1 ? 'osobe su favorizovale' : 'osoba je favorizovala' }}{% endverbatim %} ovo</span><span ng-if="favoured_count == 0"><i class="fa fa-heart"></i> Niko nije favorizovao ovo</span></li>
                        {% if fav_state > -1 %}<li><a href="javascript:" {% comment %}ng-dialog-message="{% verbatim %}{{ fav_state_msg }}{% endverbatim %}" {% endcomment %}ng{% comment %}-dialog{% endcomment %}-click="doFavouriteAction()"><span ng-if="fav_state == 0"><i class="fa fa-plus-square"></i> {% verbatim %}{{ favoured_count > 0 ? 'I meni je omiljeno' : 'Meni je omiljeno' }}{% endverbatim %}</span><span ng-if="fav_state == 1"><i class="fa fa-minus-square"></i> Nije mi više omiljeno</span></a></li>
                        {% comment %}<li><a href="javascript:"><i class="fa fa-ticket"></i> Rezervisanje mesta</a></li>{% endcomment %}
                        {% endif %}<li>
                            <hr style="margin: 8px 13px 13px;">
                            <ul class="list-unstyled">
                                <li><b class="text-success">Trenutno otvoreno</b></li>
                                <li><i class="fa fa-sign-in"></i> Radnim danima od 8h do 20h</li>
                                <li><i class="fa fa-sign-in"></i> Subotom od 8h do 15h</li>
                            </ul>
                        </li>
                        <li><ul class="list-unstyled">
                                <li><a href="https://maps.google.com/maps?q=Vojvode Mišića 79, Niš"><i class="fa fa-map-marker"></i> Vojvode Mišića 79, Niš</a></li>
                                <li><i class="fa fa-phone"></i> +381 18/756-235</li>
                            </ul>
                        </li>
                        <li><ul class="list-unstyled">
                                <li><a href="https://maps.google.com/maps?q=Kraljevića Marka 34, Vranje"><i class="fa fa-map-marker"></i> Kraljevića Marka 34, Vranje</a></li>
                                <li><i class="fa fa-phone"></i> +381 64/22-59-137</li>
                            </ul>
                        </li>{% endblock %}

{% block content %}<uib-tab index="0" heading="Events">
{% if fav_state == -1 %}						<div class="well bs-component clearfix wp" ng-controller="EventCtrl">
							<form name="eventform" ng-submit="submitEvent()" class="form-vertical">
                                <uib-alert class="mpd" type="danger" close="dismissAlert()" ng-if="eventform_showalert">Please enter a message with {{ minchar }} or more characters.</uib-alert>
                                <div class="form-group" ng-class="{'has-error': eventform.$invalid}">
								    <textarea name="text" class="form-control br2" rows="3" required></textarea>
                                </div>
                                <p class="input-group" style="width: 250px;">
                                    <input type="hidden" name="when" class="form-control" datetime-picker="dd.MM.yyyy HH:mm" datepicker-options="picker.options" ng-model="picker.date" is-open="picker.open" />
                                    <input type="text" class="form-control" datetime="dd.MM.yyyy HH:mm" ng-model="picker.date" min="{% verbatim %}{{ picker.options.minDate.toUTCString() }}{% endverbatim %}">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="picker.open = true"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
								<input type="submit" class="btn btn-primary" value="Submit">
							</form>
						</div>{% endif %}

                        <div class="mn1 vi" ng-init="t = 'event'" ng-if="objloaded || active == 0">
                            {% load rawinclude %}{% raw_include 'main/events.html' %}
                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="Menu">
                        <div class="mn">
                            <div ng-if="loaded" ng-repeat="c in menu" ng-cloak>
                                <h4 ng-bind="c.category"></h4>
                                <div ng-repeat="sc in c.content">
                                    <h5 class="text-center">{% verbatim %}{{ sc.category }}{% endverbatim %}</h5>
                                    <table class="table table-hover tb">
                                        {% comment %}<thead>
                                            <tr>
                                                <th>Ime proizvoda</th>
                                                <th>Cena</th>
                                            </tr>
                                            </thead>{% endcomment %}
                                        <tbody>
                                            <tr ng-repeat="i in sc.content" such-href="/show={% verbatim %}{{ i.id }}{% endverbatim %}&type=item&nobusiness">
                                                <td><img class="bor" ng-src="/images/{% verbatim %}{{ i.id }}{% endverbatim %}/avatar/32/?item=1"><div>{% verbatim %}{{ i.name }}{% endverbatim %}</div></td>
                                                <td><div>{% verbatim %}{{ i.price }}{% endverbatim %} {{ business.currency }}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr ng-if="!$last">
                            </div>
                            <div class="mt5 mb13 loa loa-c" ng-if="active == 1 && !loaded"><i class="fa fa-spinner fa-2x"></i></div>
                        </div>
					</uib-tab>

                    <uib-tab index="2" heading="Reviews">
						<div class="well bs-component clearfix wp">
							<form class="form-vertical">
								<textarea class="form-control br2" rows="3" id="comment"></textarea>
								<button class="btn btn-primary">Submit</button>
							</form>
						</div>
						<div class="well bs-component clearfix">
							<legend>Mihailo Popović</legend>
							<img class="bor media-object" src="http://i.imgur.com/mKpzieM.jpg">
							<p>Jako pristojno osoblje, jela i roštilj su za desetku! Zato dajem svih 5 zvzedica :)</p>
							<div class="br">
								<span class="b"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> | 5.0</span>
								<a href="javascript:" class="b"><i class="fa fa-plus-square"></i> 10</a>
								<a href="javascript:" class="b"><i class="fa fa-minus-square"></i> 0</a>
								<a href="javascript:" class="b"><i class="fa fa-comment"></i> Komentari</a>
							</div>
						</div>

						<div class="well bs-component clearfix">
							<legend>Milorad Stajić</legend>
							<img class="bor media-object" src="holder.js/64x64">
							<p>Hrana dobra, samo jedna sitna zamerka... Ne vidim čačkalice na stolu.</p>
							<div class="br">
								<span class="b"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> | 3.5</span>
								<a href="javascript:" class="b"><i class="fa fa-plus-square"></i> 4</a>
								<a href="javascript:" class="b"><i class="fa fa-minus-square"></i> 5</a>
								<a href="javascript:" class="b"><i class="fa fa-comment"></i> Komentari</a>
							</div>
							<div class="well bs-component clearfix br an">
								<ul class="list-unstyled ls rw">
									<li><b class="text-uppercase text-success"> <i class="fa fa-check-square-o"></i> Started</b></li>
									<li>Hvala Vam na sugestiji, poradićemo na tome. :)</li>
									<li>
										<a href="javascript:" class="b"><i class="fa fa-plus-square"></i> 30</a>
										<a href="javascript:" class="b"><i class="fa fa-minus-square"></i> 0</a>
									</li>
								</ul>
							</div>
						</div>
                    </uib-tab>{% endblock %}