{% extends 'base/main.html' %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block titleatt %} ng-bind="title"{% endblock %}

{% block head %}{% cache None head %}<link rel="stylesheet" href="{% static 'main/css/angular-aside.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nya-bs-select.min.css' %}">
    {% endcache %}{% url 'create_business' as create_url %}{% if file or request.path == create_url %}<link rel="stylesheet" href="{% static 'main/css/login_signup.css' %}">
    {% endif %}{% cache None head0 %}<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/sett.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/dtpicker.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ui-router-extras/0.1.3/ct-ui-router-extras.min.js"></script>
    <script src="{% static 'main/js/angular-ui-router-uib-modal.js' %}"></script>
    <script src="{% static 'main/js/nya-bs-select.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="{% static 'main/js/angular-timeago.min.js' %}"></script>
    <script src="{% static 'main/js/ng-FitText.js' %}"></script>
    <script src="{% static 'main/js/angular-aside.min.js' %}"></script>
    <script src="{% static 'main/js/angular-datetime.js' %}"></script>
    <script src="{% static 'main/js/datetime-picker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.min.js"></script>
    {% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.0.9/ocLazyLoad.min.js"></script>
    <script src="{% static 'main/js/angular-css.min.js' %}"></script>
    {% endcomment %}<script src="{% endcache %}{% static 'jsi18n/'|add:request.LANGUAGE_CODE|add:'/djangojs.js' %}{% if request.LANGUAGE_CODE != 'en-us' %}"></script>
    <script src="{% static 'main/js/angular-locale_'|add:request.LANGUAGE_CODE|add:'.js' %}{% endif %}{% cache None head1 %}"></script>
    <script src="{% static 'main/js/custom/main.js' %}"></script>
    <script>app.constant('BASE_MODAL', '{% static 'main/modals/base.html' %}')
            .constant('NOTIF_PAGE_SIZE', {{ settings.NOTIFICATION_PAGE_SIZE }})
            .constant('HAS_STARS', {{ '{' }}{% for _, v in has_stars.items %}{{ v }}: true{% if forloop.last %}{{ '}' }}{% else %}, {% endif %}{% endfor %}){% comment %}{% if request.user.is_manager %}{% endcomment %}
            .constant('REVIEW_STATUS', [{name: "{% trans "(None)" %}", value: null}, {% for s in review_status %}{name: "{{ s.0 }}", value: {{ forloop.counter0 }}}{% if not forloop.last %}, {% endif %}{% endfor %}])
            .constant('USER', {currency: '{% endcache %}{% if request.user.is_authenticated %}{{ request.user.currency }}'{% url 'account_login' as home_url %}{% if request.path == create_url or request.path == home_url %}, home: {latitude: {{ request.user.location.coords.1 }}, longitude: {{ request.user.location.coords.0 }}}{% endif %}{% if 'table' in request.session %}, ordering: true{% endif %}{% else %}{% load main_tags %}{{ request.session|get_item:'currency' }}', anonymous: true{% endif %}})</script>{% endblock %}

{% block bodyatt %} ng-controller="MainCtrl"{% endblock %}

{% block begin %}{% cache None notif request.LANGAUGE_CODE %}
    <script type="text/ng-template" id="notifications">
        <div class="dt" ng-if="notifs.length">
            <div ng-repeat="e in notifs">
                <hr ng-if="!$first">
                <a ng-class="{'text-info': e.unread}" href="{% verbatim %}{{ e.link }}{% endverbatim %}"><p ng-bind-html="e.text | unsafe"></p>
                <p class="text-muted small text-left">{% verbatim %}{{ e.created | timeAgo }}{% endverbatim %}</p></a>
            </div>
            <div ng-show="has_next_page">
                <hr>
                <a ng-show="!notif_loading" href="javascript:" class="lm text-center" ng-click="getNotifs(true)">{% trans "Load more" %}</a>
                <div class="loa loa-c" ng-if="notif_loading"><i class="fa fa-spinner"></i></div>
            </div>
        </div>
        <div class="dt" ng-if="!notifs.length">{{ '{' }}{{ '{' }} !notif_loading ? '{% trans "You don't have any notifications yet." %}' : '...' {{ '}' }}{{ '}' }}</div>
    </script>
    <script type="text/ng-template" id="offcanvas">
        <div class="navmenu navmenu-default navmenu-fixed-right">
            <a class="n" ng-click="c()" href="{% endcache %}{% if not request.user.is_authenticated or usr == request.user %}javascript:{% else %}{% url 'user_profile' request.user.username %}{% endif %}"><img class="bor imo img-rounded" src="/images/user/avatar/48/"><span class="navmenu-brand">{% if request.user.is_authenticated %}{{ request.user.first_name|add:' '|add:request.user.last_name|truncatechars:25 }}{% else %}{% trans "Anonymous" %}{% endif %}</span></a>
            <ul class="nav navmenu-nav">
                {% comment %}<li><a href="{% if request.path == "/" %}{{ current }}{% else %}/{% endif %}">Home</a></li>{% endcomment %}
                {% if show_orders %}<li><a ng-click="c()" href="{% url 'list_orders' as orders_url %}{% if request.path == orders_url %}javascript:{% else %}{{ orders_url }}{% endif %}">{% trans "My orders" %}</a></li>{% endif %}
                {% if show_ordereditems %}<li><a ng-click="c()" href="{% url 'list_ordereditems' as ordereditems_url %}{% if request.path == ordereditems_url %}javascript:{% else %}{{ ordereditems_url }}{% endif %}">{% trans "My ordered items" %}</a></li>{% endif %}
                <li><a ng-click="c()" href="{% url 'create_business' as create_url %}{% if request.path == create_url or business and business.manager == request.user %}javascript:{% else %}{{ create_url }}{% endif %}">{% trans "My business" %}</a></li>
                {% if is_manager %}<li><a ng-click="c()" href="{% url 'manage_waiters' as waiters_url %}{% if request.path == waiters_url %}javascript:{% else %}{{ waiters_url }}{% endif %}">{% trans "Manage waiters" %}</a></li>{% endif %}
                {% comment %}<li><a href="{% if request.path == "/notifications/" %}{{ current }}{% else %}/notifications{% endif %}">Notifications</a></li>{% endcomment %}
                <li uib-dropdown><a href="javascript:" id="favourites" class="dropdown-toggle" uib-dropdown-toggle>{% trans "Favourites" %} <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" uib-dropdown-menu aria-labelledby="favourites">
                        <li><a href="/#/filter=favourites" ng-click="c()">{% trans "News feed" %}</a></li>{% if request.user.is_authenticated %}
                        <li><a href="javascript:" ng-click="showFavouritesModal(null)">{% trans "Show list" %}</a></li>
                        {% if favs.exists %}<li class="divider"></li>
                        <li class="dropdown-header">{% trans "Recent" %}</li>
                        {% for fav in favs %}<li><a ng-click="c()" href="{% url 'business_profile' fav.shortname as fav_url %}{% if request.path == fav_url %}javascript:{% else %}{{ fav_url }}{% endif %}">{{ fav.get_type_display|add:' "'|add:fav.name|add:'"'|truncatechars:39 }}</a></li>{% endfor %}{% endif %}{% endif %}
                    </ul>
                </li>
                <li uib-dropdown><a href="javascript:" id="friends" class="dropdown-toggle" uib-dropdown-toggle>{% trans "Friends" %} <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" uib-dropdown-menu aria-labelledby="friends">
                        <li><a href="/#/filter=friends" ng-click="c()">{% trans "News feed" %}</a></li>{% if request.user.is_authenticated %}
                        <li><a href="javascript:" ng-click="showFriendsModal(null)">{% trans "Show list" %}</a></li>
                        {% if friends.exists %}<li class="divider"></li>
                        <li class="dropdown-header">{% trans "Recent" %}</li>
                        {% for friend in friends %}<li><a ng-click="c()" href="{% url 'user_profile' friend.username as friend_url %}{% if request.path == friend_url %}javascript:{% else %}{{ friend_url }}{% endif %}">{{ friend.first_name|add:' '|add:friend.last_name|truncatechars:39 }}</a></li>{% endfor %}{% endif %}{% endif %}
                    </ul>
                </li>
                {% comment %}<li><a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav">{% endcomment %}
                {% if request.user.is_authenticated %}<li><a href="javascript:" ng-click="showSettModal()">{% trans "Change password and email(s)" %}</a></li>{% endif %}
                <li><a href="javascript:" ng-click="showSettModal(1)">{% trans "Internationalization" %}</a></li>
                {% comment %}    </ul>
                </li>{% endcomment %}
                {% if request.user.is_authenticated %}<li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>{% endif %}
            </ul>
        </div>
    </script>
    {% cache None like_comm request.LANGUAGE_CODE %}<script type="text/ng-template" id="likes"
        ><a href="javascript:" ng-if="o[0].curruser_status > -1" ng-class="{'text-warning': o[0].curruser_status == 1}" ng-click="giveDisLike(o[1], false, o[2])"><i class="fa fa-plus-square"></i> {% verbatim %}{{ o[0].likestars_count }}{% endverbatim %}</a
        ><span ng-if="o[0].curruser_status <= -1"><i class="fa fa-plus-square"></i> {% verbatim %}{{ o[0].likestars_count }}{% endverbatim %}</span

        ><a href="javascript:" ng-if="o[0].likestars_count != 0 || o[0].dislike_count != 0" ng-click="o[0].is_opened === undefined ? showDisLikes(o[1], o[2]) : $parent.showFavouritesModal(o[0].id)" class="badge label-primary">{% verbatim %}{{ o[0].likestars_count - (o[0].dislike_count || 0) }}{% endverbatim %}</a
        ><span ng-if="o[0].likestars_count == 0 && o[0].dislike_count == 0" class="badge">0</span

        ><a href="javascript:" ng-if="o[0].is_opened === undefined && o[0].curruser_status > -1" ng-class="{'text-warning': o[0].curruser_status == 2}" ng-click="giveDisLike(o[1], true, o[2])"><i class="fa fa-minus-square"></i> {% verbatim %}{{ o[0].dislike_count }}{% endverbatim %}</a
        ><span ng-if="o[0].is_opened === undefined && o[0].curruser_status <= -1"><i class="fa fa-minus-square"></i> {% verbatim %}{{ o[0].dislike_count }}{% endverbatim %}</span
    ></script>
    <script type="text/ng-template" id="comment">
        <a class="prf" ng-href="/user/{% verbatim %}{{ m.obj.person.username }}{% endverbatim %}/">
            <div class="pb7 pull-left"><img class="bor media-object" ng-src="/images/user/{% verbatim %}{{ m.obj.person.id }}{% endverbatim %}/avatar/32/"></div>
            <strong>{% verbatim %}{{ m.obj.person.first_name }}{% endverbatim %} {% verbatim %}{{ m.obj.person.last_name }}{% endverbatim %}</strong
        ></a
        ><span ng-if="m.obj.created === undefined || m.obj.manager_stars.status === undefined"><span ng-if="m.obj.manager_stars == -1" class="label label-info lh" uib-tooltip="{% trans "Manager" %}">{% trans "M" context 'manager' %}</span><span ng-if="m.obj.is_curruser !== undefined && m.obj.manager_stars > 0" class="label label-warning lh" uib-tooltip="{% trans "Stars" %}">{% verbatim %}{{ m.obj.manager_stars }}{% endverbatim %} <i class="fa fa-star"></i></span></span
        ><span ng-if="m.obj.created !== undefined && m.obj.manager_stars.status !== undefined"
            ><span ng-switch="m.obj.manager_stars.status" uib-tooltip="{% trans "Status" %}" class="lhin"
                >{% for s in review_status %}<span ng-switch-when="{{ forloop.counter0 }}" class="label {{ s.1 }}">{{ s.0 }}</span
                >{% endfor %}</span
            ><span ng-include="'likes'" new-scope ng-init="o = [m.obj.manager_stars, k !== undefined ? $parent.$parent.$parent.$parent.$index : null, k !== undefined ? $parent.$parent.$parent.$parent.$parent.$parent.$index : $parent.$parent.$parent.$index]"></span
        ></span
        ><span ng-if="m.obj.can_delete"><a href="javascript:" ng-dialog-message="{% trans "Are you sure that you want to delete this comment?" %}" ng-dialog-click="delete(k !== undefined ? $parent.$parent.$parent.$parent.$index : null, k !== undefined ? $parent.$parent.$parent.$parent.$parent.$parent.$index : $parent.$parent.$parent.$index, k)"><i class="fa fa-times"></i> {% trans "Delete" %}</a></span>
        <p>{% verbatim %}{{ m.obj.text }}{% endverbatim %} <small class="text-muted">&mdash; {% verbatim %}{{ m.obj.created | timeAgo }}{% endverbatim %}</small></p>
    </script>{% endcache %}{% endblock %}

{% block navbar_container %}{% endblock %}{% block navbar_container_end %}{% endblock %}{% block footer_extra %}{% if request.user.is_anonymous %}{{ block.super }}{% endif %}{% endblock %}
{% block navbar %}{% cache None navbar request.LANGAUGE_CODE %}<form class="navbar-form navbar-left" role="search">
                <div class="form-group" click-outside="co(search, 'show', true)">
                    <input type="text" class="form-control" id="sr" placeholder="{% trans "Search" %}" select-on-click ng-model="search.keywords" ng-change="search.func()" ng-focus="search.show = search.keywords != ''; search.chngl()" ng-model-options="{updateOn: 'default blur', debounce: {default: 1000, blur: 0}}">
                    <div id="quicks" ng-show="search.show" ng-cloak>
                        <div class="bu" ng-repeat="b in search.results" such-href="/{% verbatim %}{{ b.shortname }}{% endverbatim %}/">
                            <img class="bor mr7" ng-src="/images/business/{% verbatim %}{{ b.id }}{% endverbatim %}/avatar/32/"
                            ><span>{% verbatim %}{{ b.type_display+' "'+b.name+'"'}}{% endverbatim %}</span>
                        </div>
                        <div class="loa tc" ng-show="search.loading"><i class="fa fa-spinner"></i></div>
                        <a ng-if="search.has_more === undefined || search.has_more" ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=business"><i class="fa fa-map-pin"></i> {{ '{' }}{{ '{' }} search.count != null ? "{% trans "Find other businesses..." %}" : "{% trans "Find businesses..." %}" {{ '}' }}{{ '}' }}</a>
                        <a ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=event"><i class="fa fa-calendar"></i> {% trans "Find events..." %}</a>
                        <a ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=item"><i class="fa fa-th-list"></i> {% trans "Find items..." %}</a>
                        <a ng-href="/#/filter={% verbatim %}{{ search.keywords }}{% endverbatim %}&type=user"><i class="fa fa-users"></i> {% trans "Find users..." %}</a>
                    </div>
                </div>
            </form>
            <div id="nct" class="navbar-header pull-right" style="width: 105px;">
                <a id="notif" class="clickable" popover-placement="bottom-right" uib-popover-template="'notifications'" popover-trigger="outsideClick" popover-is-open="opened"><i id="nf" class="fa" ng-class="unread ? 'fa-bell' : 'fa-bell-o'"></i></a>
                <button type="button" class="navbar-toggle" ng-click="showOffcanvas()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>{% endcache %}{% endblock %}