{% load i18n %}{% get_current_language as lang %}<!DOCTYPE html>
<html lang="{{ lang }}"{% comment %}{% block htmlatt %}{% endcomment %} ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="{{ lang }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title{% block titleatt %}{% endblock %}>{% block title %}Gournet{% endblock %}</title>
    {% load static %}{% load cache %}{% cache None main_head %}<link rel="shortcut icon" href="{% static 'main/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% endcache %}{% if user.is_anonymous %}<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    {% endif %}{% cache None main_head0 %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script{% comment %} src="{% static 'main/js/custom/login_signup.js' %}"{% endcomment %}>var app = angular.module('mainApp', []).controller('BaseMainCtrl', function ($scope){ $scope.switchMore = function (){ $scope.footer_more = angular.element('footer .more').toggleClass('show').hasClass('show') } })</script>
    {% endcache %}{% block head %}<link rel="stylesheet" href="{% static 'main/css/login_signup.css' %}">{% endblock %}
</head>
<body{% block bodyatt %} ng-controller="BaseMainCtrl"{% endblock %}{% if request.GET.nohf != None or request.COOKIES.nohf != None %} style="padding-top: 15px;"{% endif %}>
    {% block begin %}{% endblock %}

    {% if request.GET.nohf == None and request.COOKIES.nohf == None %}<header class="navbar navbar-default navbar-fixed-top">
        {% block navbar_container %}<div class="container">
            {% endblock %}<a href="/" class="navbar-brand"><img src="{% static 'main/logo.png' %}" width="98" height="33"></a>
            {% block navbar %}{% endblock %}{% block navbar_container_end %}
        </div>{% endblock %}
    </header>{% endif %}

    <div class="container{% if request.GET.nohf == None and request.COOKIES.nohf == None %} w{% endif %}">{% block container %}{% endblock %}    </div>

    {% if request.GET.nohf == None and request.COOKIES.nohf == None %}{% cache None footer lang %}<footer class="navbar navbar-fixed-bottom">
        <div class="container">
            <div>
                <div>
                    <div class="text-muted {{ lang }}">
                        <small>&copy; 2016-2017 - MikiSoft</small
                        ><span class="lr5">&middot;</span
                        ><a href="https://fb.me/gournet.co" title="{% trans "For news about the platform" %}" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-header more">
                            <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                            <li><a href="{% url 'tos' %}">{% trans "Terms of Service" %}</a></li>
                            <li><a href="{% url 'privacy-policy' %}">{% trans "Privacy Policy" %}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-header more_b"><li><a href="javascript:" ng-click="switchMore()"><i class="fa" ng-class="'fa-caret-square-o-'+(footer_more ? 'down' : 'up')"></i></a></ul>{% endcache %}{% block footer_extra %}
                        <ul class="nav navbar-nav navbar-header"><li><a href="?lang={% if lang == 'sr-latn' %}en-us{% else %}sr-latn{% endif %}" class="text-right text-muted">{% if lang == 'sr-latn' %}Switch to English{% else %}Prebaci na srpski jezik{% endif %}</a></li></ul>{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </footer>{% endif %}

    {% block end %}{% endblock %}
</body>
</html>