{% extends 'base/'|add:file|add:'.html' %}
{% load i18n %}

{% block container %}
        <div class="row">
            <div class="col-sm-12">
                <div class="well nw bs-component" style="max-width: 800px;">
                    <legend>{% trans "Message Sent" %}</legend>
                    <p class="fbot">{% blocktrans %}Your message has been sent to the support. You will be contacted as soon as possible. Please contact us again if you do not receive the answer within reasonable time.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
{% endblock %}