{% extends 'base/'|add:file|add:'.html' %}
{% load i18n %}
{% load cache %}
{% load main_tags %}

{% block title %}{% trans "Privacy Policy" %} - Gournet{% endblock %}

{% block container %}
{% get_current_language as lang %}{% cache None pp lang %}{% markdown %}{% blocktrans %}### Privacy Policy

###### *Last change on 08.03.2017.*

Gournet team takes very cautiously privacy of your data. Our Privacy Policy is thought out to keep you informed about our practices regarding the collection, usage and disclosure of information that you provide when accessing the website **www.gournet.co**. Please read it carefully and introduce yourself with the rules, because any usage of this website means your agreement on the terms mentioned in this document. Accesing this website you confirm that you comply with this Privacy Policy, and you consent that data about you could be stored, used and disclosed according to this Privacy Policy.

#### The information we may gather and process

The information that we may gather and process is the following:

* the information with which you could be identified, such as first and last name, gender, date of birth, location, your profile picture and e-mail address (hereafter: personal data);
* the information related to you but which doesn't identify you as individual (e.g. IP address);
* the information about your connection, equipment you use to access our website and details about usage.

#### The method of gathering information

We collect data about you in two ways: directly, when you provide them, or automatically, while you use the website. We only collect personal data which is needed to provide or improve our services.

##### ***Personal data***

Personal data we collect on our website or via the website can include information you provide by using our contact form on the website, or by registering on the website, or any information you provide us in any other way. Personal data we collect on our website or via the website may also include evidence and copies of our conversations (which also includes e-mail addresses) in the case you contact us.

##### ***Automatic data collecting***

Automatically, while you use the website, we may collect data which includes details about usage, IP address and information collected via cookies, web beacon or other technologies for monitoring. By accessing our website you agree that we could automatically gather and process mentioned data.

The information we gather automatically while you're using the website, while you browse the website and while you're being active on it, is certain information about your equiptment, activity and browsing patterns, also including:

* details of your visits on our website, also including the data about traffic, location, and other evidence about communication and sources you access and use on the website;
* the information about device and connection, also including your IP address, the OS and the browser.

The information that we automatically gather represent the statistical data. It helps us to improve the website and give better and personalized service, because it allows us to estimate the number of our visitors and their website usage patterns, to save the information about your preferences, which allows us to adapt the website according to your needs, to speed up your queries, to recognize you after you visit the website again, and to analyze how users interact with the website, all for internal needs under marketing and research domain.

##### ***Cookies and other technology***

Technologies we use for automatic data collecting may cover:

* Cookies (for the browser). Cookie is a small file which is located in the memory of your device. You can forbid cookies in your browser with its particular setting. However, if you enable that setting, you won't be able to access the important parts of our website. Our system will create cookies while you're visiting our website via the browser, as long as you don't disable cookie storage feature in the browser.
* Web beacons. Pages of our website and our e-mails may have embedded small files known as web beacons (labeled as clear GIFs, pixel markers and GIFs with one pixel) which enable us to count how many users have visited particular pages or opened particular e-mails, as well as gathering other statistical data for the website (e.g. tracking the popularity of particular parts of the website and system/server integrity check).

#### How we use your data

We use the information that we collect about you or when you provide them to us, including all personal data, in order to:

* present you our website and its content;
* provide you information or services you request from us;
* fulfill other purposes for which the information is provided;
* deliver you notifications;
* carry out our commitments and apply the rights stemming from any contract you made with us;
* inform you about changes on our website, or any other project and services we offer, or provide;
* enable you to use interactive features of our website;
* inform you about projects and services that we or third party offer, and which may be in your interest;
* fulfill any other purpose, with your consent.

#### Security and safety of your personal data and other information

Gournet team takes all necessary measures to make your personal information safe. For this purpose, only authorized people in Gournet team, companies that are service providers and business partners, which are obliged to save sensitive information, have access to your personal data.

If you disable or disallow cookies, bear in mind that the most important part of this website will be inaccesible. Besides that, we take measures which have to secure your personal data from accidental losses or unauthorized access, usage, altering and exposing. All information you provide us is stored on our secured servers with firewall, and all passwords are encrypted with strong algorythm.
Security and safety of your data depends on you, too. You should keep your password secret, after choosing it for access to our website. Please, do not tell your password to anyone.

Data transfer over the Internet is not completely safe. Although we'll do our best to secure your personal data, we can't guarantee the safety of your personal data which is delivered to our website. Every transfer of your personal data is at your own risk. We are not responsible if you don't adjust your privacy settings or if you don't take into account safety measures which are listed here.

#### Disclosing your information

Gournet team will never share your personal data with third parties who intend to use them in marketing purposes, unless you give us permission to do so.
We may disclose collected information of our users, as well as the information that doesn't indentify the invididual, without limitations. We may disclose personal data collected by us, or provided by you like it is stated in this Privacy Policy:

* to our related parties;
* as a part of the sale of a part or the whole Gournet team or assets to any third party, or as a part of the restructuring or reorganization;
* to contractors, service providers and third parties that we engage to support our business;
* to fulfill the purpose for which you delivered the information;
* for other purposes, with your consent.

In addition, we may disclose your personal information:

* if it is required from us to disclose or share your personal data in order to meet our legal duty (for instance, if we get court warrant for that);
* to fullfill any of the conditions of use applicable to any other website, or to fulfill any other condition or agreement which applies to our services;
* if we believe that disclosure is necessary or appropriate to protect our rights, property, security, our clients or others. This includes information trade with other companies and organizations for the purpose of protection from fraud and credit risk reduction.

#### Accessing and altering your data

From the moment of registration on this website, you get an option for further altering your personal data. Because particular sensitive data (first and last name, gender and date of birth) can be changed through this website only once, you have the right to request updating of your personal data which we hold, by contacting us via specific form on this website, where later it will be requested from you to send us a copy of your ID card as a proof.
If you don't want for us to store your personal data anymore, you can sign out by filing a request in the contact form on this website.

#### Minors

If you are a minor, it is neccessary to get a permission from your parents before you provide us with the information about yourself. It's forbidden for minors who don't have said approval to give us personal data.

#### Amendments to our Privacy Policy

Gournet tim holds the right to make changes to this Privacy Policy, without previous notice. Therefore, next time when you visit this website, please look again at these conditions, to ensure you are aware of any changes that have occurred. All the information about further changes of our Privacy Policy will be published on this page. Date of the last revision of our Privacy Policy is located at the top of this page.

#### Contact info

If you have any questions, comments or concerns with this Privacy Policy, or if you want to ask about your personal data, you can do that by using the contact form on this webiste.{% endblocktrans %}{% endmarkdown %}{% endcache %}
{% endblock %}