{% extends 'base/view.html' %}
{% load i18n %}
{% load cache %}

{% block head %}{{ block.super }}
    {% comment %}<style>
        .remp {
            padding-bottom: 0;
        }
        .hrm {
            margin: 13px;
        }</style>{% endcomment %}{% if workh %}<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone-with-data-2010-2020.min.js"></script>
    {% endif %}{% load static %}<script src="{% static 'main/js/custom/view.js' %}"></script>{% if fav_state == -1 %}
    {% include 'base/home_extra.html' %}
    <script src="{% static 'main/js/custom/manager.js' %}"></script>
    <script src="{% static 'main/js/custom/map.js' %}"></script>
    <script src="{% static 'main/js/custom/create.js' %}"></script>{% endif %}{% endblock %}

{% block bodyatt %}{{ block.super }} ng-init="id = {{ business.id }}"{% endblock %}

{% block rowatt %}ng-controller="BusinessCtrl" ng-init="minchar = {{ minchar }}{% if fav_state > -1 %}; fav_count = {{ fav_count }}; fav_state = {{ fav_state }}{% endif %}"{% endblock %}

{% block name_content %}{% if fav_state == -1 %}<div class="inline namef br2" ng-cloak click-outside="co(edit, 'disabled')" ng-init="{% cache None edit_data %}{% load main_tags %}{% for n in edit_data %}{{ n }} = [{% for t in edit_data|get_item:n %}'{% if t.1|length|get_digit:'-1' > 1 %}{{ t.1 }}{% else %}{{ t }}{% endif %}'{% if not forloop.last %}, {% endif %}{% endfor %}]; {% endfor %}{% endcache %}edit = gened([{{ business.type }}, '{{ business.name }}', '{{ business.shortname }}'])">
                        <a class="n lead text-center" ng-show="edit.disabled" ng-click="edit.disabled = false">{% verbatim %}{{ types[edit.value[0]] }} "{{ edit.value[1] }}"{% endverbatim %}</a>
                        <div ng-hide="edit.disabled">
                            <div>
                                <div>
                                    <div class="ulh"><ul class="nya-bs-select" ng-model="edit.form[0]">
                                        <li nya-bs-option="t in types" data-value="$index"><a>{% verbatim %}{{ t }}{% endverbatim %}</a></li>
                                    </ul><div ng-show="edit.disabled == null"></div></div>
                                    <div><input type="text" class="form-control" ng-disabled="edit.disabled == null" ng-model="edit.form[1]" maxlength="60"></div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="shortname">{% trans "Shortname:" %}</label>
                                    <div><input name="shortname" type="text" pattern="^[\w.-]+$" class="form-control" ng-disabled="edit.disabled == null" ng-model="edit.form[2]" maxlength="30"></div>
                                </div>
                            </div>
                            <a class="fa fa-2x fa-check n text-center" ng-click="doAction()"></a>
                        </div>
                    </div>{% else %}<p class="br2 lead text-center ww">{% block name %}{{ business.get_type_display }} "{{ business.name }}"{% endblock %}</p>{% endif %}{% endblock %}

{% block img %}business/{{ business.pk }}{% endblock %}

{% block other %}<li{% if business.manager != request.user %} ng-init="rating = {value: {{ rating.0 }}, count: {{ rating.1 }}, user: {{ rating.2 }}}"><span star-rating="rating.value" user-number="rating.count" user-rating="rating.user" readonly="true"{% else %}><span star-rating="{{ rating.0 }}"{% if rating.1 > 0 %} user-number="{{ rating.1 }}"{% endif %}{% endif %}></span></li>
                        <li
                            >{% if fav_state > -1 %}<span ng-show="fav_count > 0" translate="fav_count"><a href="javascript:" ng-click="showFavouritesModal()"><i class="fa fa-heart"></i> <strong>{% verbatim %}{{ fav_count }}{% endverbatim %}</strong></a> person has favored this<br plural><a href="javascript:" ng-click="showFavouritesModal()"><i class="fa fa-heart"></i> <strong>{% verbatim %}{{ fav_count }}{% endverbatim %}</strong></a> persons have favored this</span
                            ><span ng-show="fav_count == 0"><i class="fa fa-heart"></i> {% trans "Nobody favored this" %}</span
                        ></li>
                        <li
                            ><a href="javascript:" {% comment %}ng-dialog-message="{% verbatim %}{{ fav_state_msg }}{% endverbatim %}" {% endcomment %}ng{% comment %}-dialog{% endcomment %}-click="doFavouriteAction()"
                                ><span ng-show="fav_state == 0"
                                    ><i class="fa fa-plus-square"></i> {{ '{' }}{{ '{' }} fav_count > 0 ? "{% trans "It's my favorite, too" %}" : "{% trans "It's my favorite" %}" {{ '}' }}{{ '}' }}</span
                                ><span ng-show="fav_state == 1"
                                    ><i class="fa fa-minus-square"></i> {% trans "It's not my favorite anymore" %}</span
                            ></a
                        >{% comment %}<li><a href="javascript:"><i class="fa fa-ticket"></i> Rezervisanje mesta</a></li>
                        {% endcomment %}{% else %}<span>{% if fav_count > 0 %}<a href="javascript:" ng-click="showFavouritesModal()"><i class="fa fa-heart"></i> {% blocktrans count counter=fav_count %}<strong>{{ counter }}</strong></a> person has favored this{% plural %}<strong>{{ counter }}</strong></a> persons have favored this{% endblocktrans %}{% else %}<i class="fa fa-heart"></i> {% trans "Nobody favored this" %}
                        {% endif %}</span></li>
                        {% endif %}<li>
                            <hr style="margin: 8px 13px 13px;">{% if fav_state == -1 %}
                                <a href="javascript:" ng-click="openEdit()"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a></li>
                            <li>{% endif %}
                            <ul class="list-unstyled"{% if workh %} ng-init="data.tz = '{{ business.tz }}'; set_data([{% for n in workh.value %}'{{ n }}'{% if not forloop.last %}, {% endif %}{% endfor %}]{% if fav_state == -1 %}, '{{ business.phone }}', [{% for c in business.supported_curr %}'{{ c }}'{% if not forloop.last %}, {% endif %}{% endfor %}], '{{ business.address }}', '{{ business.location.coords.0 }},{{ business.location.coords.1 }}'{% endif %})"{% endif %}>
                                <li><b {% if workh %}ng-{% endif %}class="{% if workh %}is_opened || is_opened == null ? '{% endif %}text-success{% if workh %}' : 'text-danger'{% endif %}">{% if workh %}{{ '{' }}{{ '{' }} is_opened == null ? "{% endif %}{% trans "Always opened" %}{% if workh %}" : is_opened ? "{% trans "Currently opened" %}" : "{% trans "Currently closed" %}" {{ '}' }}{{ '}' }}{% endif %}</b></li>{% if workh %}
                                <li{% if fav_state == -1 %} ng-if="is_opened != null"{% endif %}><i class="fa fa-sign-in"></i> {% blocktrans with wf=workh.display.0 wt=workh.display.1 %}Monday-Friday, from {{ wf }} to {{ wt }}{% endblocktrans %}</li>{% if fav_state == -1 or workh.value|length >= 4 %}
                                <li{% if fav_state == -1 %} ng-if="is_opened != null && data.value[0].length >= 4"{% endif %}><i class="fa fa-sign-in"></i> {% blocktrans with wf=workh.display.2 wt=workh.display.3 %}Saturday, from {{ wf }} to {{ wt }}{% endblocktrans %}</li>{% endif %}{% if fav_state == -1 or workh.value|length == 6 %}
                                <li{% if fav_state == -1 %} ng-if="is_opened != null && data.value[0].length == 6"{% endif %}><i class="fa fa-sign-in"></i> {% blocktrans with wf=workh.display.4 wt=workh.display.5 %}Sunday, from {{ wf }} to {{ wt }}{% endblocktrans %}</li>{% endif %}{% endif %}
                            </ul>
                        </li>
                        <li><ul class="list-unstyled">
                                <li><a {% if fav_state == -1 %}ng-{% endif %}href="https://maps.google.com/?q={% if fav_state == -1 %}{% verbatim %}{{ data.value[4] | revc }}{% endverbatim %}{% else %}{{ business.location.coords.1 }},{{ business.location.coords.0 }}{% endif %}" target="_blank"><i class="fa fa-map-marker"></i> {% if fav_state == -1 %}{% verbatim %}{{ data.value[3] }}{% endverbatim %}{% else %}{{ business.address }}{% endif %}</a></li>
                                <li><a {% if fav_state == -1 %}ng-{% endif %}href="tel:{% if fav_state == -1 %}{% verbatim %}{{ data.value[1] }}{% endverbatim %}{% else %}{{ business.phone }}{% endif %}"><i class="fa fa-phone"></i> {% if fav_state == -1 %}{% verbatim %}{{ data.value[1] }}{% endverbatim %}{% else %}{{ business.phone }}{% endif %}</a></li>
                            </ul>
                        </li>{% endblock %}

{% block content %}{% if not business.is_published %}<uib-alert type="warning">{% if request.user.is_staff %}{% blocktrans with pk=business.pk %}<a href="/admin/main/business/{{ pk }}/change/" target="_blank">Edit this business for publishing</a> or <a href="/admin/main/business/{{ pk }}/delete/">reject it</a>.{% endblocktrans %}{% else %}{% if not business.item_set.exists %}<span ng-init="$parent.$parent.unpub = '{% trans "Your business won't be a candidate for verfication until you add some items to it." %}'" ng-bind="$parent.$parent.unpub"></span>{% else %}{% trans "This message will disappear once your business is approved. When published, it will become visible/accessible to others." %}{% endif %}{% endif %}</uib-alert>

                    {% elif request.user.is_staff %}<uib-alert id="editinf" type="info" close="dismissI()"><a href="/admin/main/business/{{ business.pk }}/change/" target="_blank">{% trans "Edit this business in admin panel." %}</a></uib-alert>

                    {% endif %}<uib-tab index="0" heading="{% trans "Events" %}">
{% if fav_state == -1 %}						<div class="well bs-component clearfix wp" ng-controller="EventCtrl">
							<form name="forms.event" ng-submit="submitEvent()" class="frm form-vertical">
                                <uib-alert class="mpd" type="danger" close="forms.event.alert = false" ng-if="forms.event.alert">{% blocktrans with m=minchar %}Please enter text with {{ m }} or more characters.{% endblocktrans %}</uib-alert>
                                <div class="form-group" ng-class="{'has-error': forms.event.alert}">
								    <textarea name="text" class="form-control" rows="3" required maxlength="1000"></textarea>
                                </div>
                                <p class="input-group" style="width: 250px;">
                                    <input type="hidden" datetime-picker="dd.MM.yyyy HH:mm" datepicker-options="picker.options" ng-model="picker.date" is-open="picker.open">
                                    <input type="text" class="form-control" datetime="dd.MM.yyyy HH:mm" ng-model="picker.date" min="{% verbatim %}{{ picker.options.minDate.toUTCString() }}{% endverbatim %}">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="picker.open = true"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
								<input type="submit" class="btn btn-primary" value="{% trans "Submit" %}" ng-disabled="loading">
							</form>
						</div>

{% endif %}                        <div class="mn1 vi" ng-init="t = 'event'" ng-if="objloaded[0] || active == 0" ng-include="'/static/main/events.html'"></div>
                    </uib-tab>

                    <uib-tab index="1" heading="{% trans "Menu" %}">
{% if fav_state == -1 %}						{% cache None item_form %}<div class="well bs-component clearfix wp" ng-controller="ItemCtrl">
							<form name="forms.item" ng-submit="submitItem()" class="frm form-vertical">
                                <uib-alert class="mpd" type="danger" close="forms.item.alert = undefined" ng-if="forms.item.alert !== undefined">{{ '{' }}{{ '{' }} forms.item.alert === true ? "{% trans "Name must must have minimum 2 characters." %}" : "{% trans "Name conflicts with the existing item." %}" {{ '}' }}{{ '}' }}</uib-alert>
                                <div class="form-group" ng-class="{'has-error': forms.item.alert !== undefined}">
                                    <input name="name" type="text" class="form-control" required maxlength="60">
                                </div>
                                <fieldset class="rev" ng-init="$parent.data.curr = '{{ business.currency }}'; $parent.curr = ['{{ business.currency }}', '{% endcache %}{% if business.currency != request.user.currency and request.user.currency in business.supported_curr %}{{ request.user.currency }}{% else %}{{ business.currency }}{% endif %}{% cache None item_form0 %}']">
                                    <select class="form-control" ng-model="$parent.curr[0]" ng-change="changedCurr()">{% for c in curr %}
                                        <option value="{{ c.0 }}">{{ c.1 }}</option>{% endfor %}
                                    </select>
                                    <span><input type="number" name="price" step="0.01" min="0" class="form-control" required></span>
                                </fieldset>
                                {% load bootstrap3 %}{% bootstrap_field form.cat %}
								<input type="submit" class="btn btn-primary" value="{% trans "Submit" %}" ng-disabled="loading">
							</form>
						</div>{% endcache %}

{% endif %}                        <div class="mn"{% if fav_state == -1 %} ng-init="$parent.$parent.edit_i = {}"{% endif %}>
                            <div class="angular-animate" ng-if="objloaded[1] && c.hascontent" ng-repeat="c in menu" ng-cloak>
                                <hr ng-if="!c.first">
                                <h4 ng-bind="c.name"></h4>
                                <div class="angular-animate" ng-repeat="sc in c.content" ng-if="sc.content.length > 0">
                                    <h5 class="text-center">{% verbatim %}{{ sc.name }}{% endverbatim %}</h5>
                                    <table class="table table-hover tb">{% comment %}
                                        <thead>
                                            <tr>
                                                <th>Ime proizvoda</th>
                                                <th>Cena</th>
                                            </tr>
                                        </thead>{% endcomment %}
                                        <tbody>
                                            <tr ng-repeat="i in sc.content" class="angular-animate {% if fav_state > -1 %}clickable" ng-click="showItem(i.id){% endif %}">
                                                <td{% if fav_state == -1 %} class="clickable" ng-class="{'esh': edit_i[i.id].disabled !== true}" ng-click="showItem(i.id)"{% endif %}>
                                                    {% if fav_state == -1 %}<div class="img_p">
                                                        {% endif %}<img class="bor" ng-src="/images/item/{% verbatim %}{{ i.id }}{% endverbatim %}/avatar/32/{% if fav_state == -1 %}{% verbatim %}{{ img[i.id].ts || '' }}{% endverbatim %}" ng-init="img[i.id].file = null" uib-tooltip="{% verbatim %}{{ drag_txt }}{% endverbatim %}" ngf-drop ngf-select ng-model="img[i.id].file" ng-disabled="img[i.id].file" ng-class="{'clickable': !img[i.id].file}"
                                                        ><div class="img_l" ng-show="img[i.id].file"><div class="loa loa-c"><i class="fa fa-spinner"></i></div></div
                                                    ></div{% else %}"{% endif %}
                                                    ><div>{% verbatim %}{{ i.name }}{% endverbatim %}</div>
                                                </td>
                                                <td><div{% if fav_state == -1 %} class="inline" ng-init="edit_i[i.id] = {form: i.price, disabled: true}" click-outside="co(edit_i[i.id], 'disabled')">
                                                    <a class="n clickable" ng-show="edit_i[i.id].disabled" ng-click="edit_i[i.id].disabled = false"{% endif %}>{% verbatim %}{{ (i.converted || i.price)|currency:'' }}{% endverbatim %} {% if fav_state == -1 %}{% verbatim %}{{ curr[1] }}{% endverbatim %}</a>
                                                    <div ng-hide="edit_i[i.id].disabled">
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <div class="input-group">
                                                                        <input type="number" step="0.01" min="0" class="form-control" string-to-number ng-model="edit_i[i.id].form" ng-disabled="edit_i[i.id].disabled == null">
                                                                        <span class="input-group-addon" ng-bind="data.curr"></span>
                                                                    </div>
                                                                </div>
                                                                <a class="fa fa-check n clickable text-center" ng-show="edit_i[i.id].disabled === false" ng-click="doIAction(i)"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}{% if business.currency != request.user.currency and request.user.currency in business.supported_curr %}{{ request.user.currency }}{% else %}{{ business.currency }}{% endif %}{% endif %}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mt5 mb13 loa loa-c" ng-if="active == 1 && (!objloaded[1] || refreshing)"><i class="fa fa-spinner fa-2x"></i></div>
                        </div>
					</uib-tab>

                    <uib-tab index="2" heading="{% trans "Reviews" %}">
{% if fav_state != -1 %}						<div ng-if="showrevf" class="well bs-component clearfix wp">
							<form name="forms.review" ng-submit="submitReview()" class="frm form-vertical">
                                <uib-alert class="mpd" type="danger" close="forms.review.alert = 0" ng-if="forms.review.alert > 0">{{ '{' }}{{ '{' }} forms.review.alert != 2 ? "{% blocktrans %}Please enter a message with "+minchar+" or more characters.{% endblocktrans %}" : '' {{ '}' }}{{ '}' }} {{ '{' }}{{ '{' }} forms.review.alert != 1 ? "{% trans "Please select how many stars you give." %}" : '' {{ '}' }}{{ '}' }}</uib-alert>
                                <div class="form-group" ng-class="{'has-error': forms.review.alert == 1 || forms.review.alert == 3}">
								    <textarea name="text" class="form-control" rows="3" required maxlength="1000"></textarea>
                                </div>
                                <div class="mpd" star-rating="forms.review_stars" user-rating="forms.review_stars"></div>
								<input type="submit" class="btn btn-primary" value="{% trans "Submit" %}" ng-disabled="loading">
							</form>
						</div>

{% endif %}                        <div class="mn1 vi" ng-init="t = 'review'" ng-if="objloaded[2] || active == 2" ng-include="'/static/main/events.html'"></div>
                    </uib-tab>{% endblock %}