                        <table class="table table-hover table-condensed nmb">
                            <tr>
                                <th class="w1"><a href="javascript:" ng-click="addUsers({{ str }}s)"><i class="fa fa-user-plus"></i></a></th>
                                <th>{{ '{' }}{ {{ strs }} && {{ strs }}.length ? '{% load i18n %}{% if str == 'waiter' %}{% trans "Waiters" %}' : '{% trans "No waiters yet" %}{% else %}{% trans "Preparators" %}' : '{% trans "No preparators yet" %}{% endif %}' {{ '}' }}}</th>
                                <th ng-if="{{ strs }} && {{ strs }}.length">{% trans "Monday-Friday" context "title" %}</th>{% if wt.1 %}
                                <th ng-if="{{ strs }} && {{ strs }}.length">{% trans "Saturday" context "title" %}</th>{% endif %}{% if wt.2 %}
                                <th ng-if="{{ strs }} && {{ strs }}.length">{% trans "Sunday" context "title" %}</th>{% endif %}
                                <th class="w1"></th>
                            </tr>
                            <tr class="wt" ng-if="{{ strs }} && {{ strs }}.length" ng-repeat="{{ str }} in {{ strs }}">
                                <td>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state === false" ng-dialog-message="{% trans "Are you sure that you want to proceed?" %} {{ '{' }}{{ '{' }} {% if str == 'waiter' %}waiters.length > 1 ? '{% trans "All data related to the waiter would be lost." %}' : '{% trans "All data related to the whole table would be lost." %}'{% else %}'{% trans "All data related to the preparator would be lost." %}'{% endif %} {{ '}' }}}" ng-dialog-click="deleteWaiter({{ strs }}, $index)"><i class="fa fa-user-times"></i></a>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state" ng-click="cancelEdit({{ strs }}, $index)"><i class="fa fa-times"></i></a>
                                </td>
                                <td>{{ '{' }}{ {{ str }}.obj.person.first_name }{{ '}' }} {{ '{' }}{ {{ str }}.obj.person.last_name }{{ '}' }}</td>
                                {% for f in wt %}{% if f.0 == '' or f.0 %}<td>
                                    <span ng-show="{{ str }}.edit.state === false">{{ '{' }}{ {{ str }}.obj.opened{{ f.0 }} }{{ '}' }}</span>
                                    <span class="dropup"><input type="hidden" datetime-picker="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].opened{{ f.0 }}" enable-date="false" is-open="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][0]"></span>
                                    {% if f.0 != '' %}<div ng-show="{{ str }}.edit.state" class="ib checkbox"><input type="checkbox" ng-model="{{ str }}.edit.{{ f.0 }}" ng-disabled="{{ str }}.edit.state === null"></div>
                                    {% endif %}<fieldset ng-disabled="{% if f.0 != '' %}!{{ str }}.edit.{{ f.0 }} || {% endif %}{{ str }}.edit.state === null">
                                        <span ng-show="{{ str }}.edit.state !== false" class="input-group input-group-sm">
                                            <input class="form-control" datetime="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].opened{{ f.0 }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][0] = true"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </span>
                                        <div class="ib" ng-class="{'hdt': {{ str }}.edit.state !== false}">-</div>
                                        <span class="dropup"><input type="hidden" datetime-picker="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].closed{{ f.0 }}" enable-date="false" is-open="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][1]"></span>
                                        <span ng-show="{{ str }}.edit.state !== false" class="input-group input-group-sm">
                                            <input class="form-control" datetime="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].closed{{ f.0 }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][1] = true"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </span>
                                    </fieldset>
                                    <span ng-show="{{ str }}.edit.state === false">{{ '{' }}{ {{ str }}.obj.closed{{ f.0 }} }{{ '}' }}</span>
                                </td>
                                {% endif %}{% endfor %}<td>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state === false" ng-click="showEdit({{ str }})"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state" ng-click="saveWaiter({{ str }}, {{ str }}s)"><i class="fa fa-check"></i></a>
                                </td>
                            </tr>
                        </table>