{% extends 'base/home.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/waiters.css' %}">
    <script src="{% static 'main/js/custom/waiters.js' %}"></script>{% endblock %}

{% block container %}
        <div class="row" ng-controller="WaitersCtrl" ng-init="loadWaiters({{ has_sat }}, {{ has_sun }})">
            <div class="col-sm-12">
                <div ng-if="tables.list.length" ng-repeat="table in tables.list" ng-cloak>
                    <h4>Table {% verbatim %}{{ table.num }}{% endverbatim %}</h4>
                    <table class="table table-hover table-condensed angular-animate animate">

                    </table>
                </div>
                <button class="btn btn-primary btn-block">{% trans "Add a table" %}</button>
            </div>
        </div>
{% endblock %}