                        <table class="table table-hover table-condensed nmb" ng-if="{{ strs }}.loaded">
                            <tr>
                                <th class="w1"><a href="javascript:" ng-click="addUsers({{ str }}s)"><i class="fa fa-user-plus"></i></a></th>
                                <th>{{ '{' }}{ {{ strs }}.list && {{ strs }}.list.length ? '{% load i18n %}{% if str == 'waiter' %}{% trans "Waiters" %}' : '{% trans "No waiters yet" %}{% else %}{% trans "Preparers" %}' : '{% trans "No preparers yet" %}{% endif %}' {{ '}' }}}</th>
                                {% for d in days_text %}{% load main_tags %}{% if forloop.counter < 7 or wt|index:forloop.counter0 %}<th ng-if="{{ strs }}.list && {{ strs }}.list.length">{% trans d %}</th>
                                {% endif %}{% endfor %}
                                <th class="w1"></th>
                            </tr>
                            <tr class="wt" ng-if="{{ strs }}.list && {{ strs }}.list.length" ng-repeat="{{ str }} in {{ strs }}.list" ng-class="{edt: {{ str }}.edit.state}">
                                <td>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state === false" ng-dialog-message="{% trans "Are you sure that you want to proceed?" %} {{ '{' }}{{ '{' }} {% if str == 'waiter' %}waiters.length > 1 ? '{% trans "All data related to the waiter would be lost." %}' : '{% trans "All data related to the whole table would be lost." %}'{% else %}'{% trans "All data related to the preparer would be lost." %}'{% endif %} {{ '}' }}}" ng-dialog-click="deleteWaiter({{ strs }}.list, $index)"><i class="fa fa-user-times"></i></a>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state" ng-click="cancelEdit({{ strs }}.list, $index)"><i class="fa fa-times"></i></a>
                                </td>
                                <td class="name">{{ '{' }}{ {{ str }}.obj.person.first_name }{{ '}' }} {{ '{' }}{ {{ str }}.obj.person.last_name }{{ '}' }}</td>
                                {% for d in days %}{% if forloop.counter < 7 or wt|index:forloop.counter0 %}<td class="worktime">
                                    <span ng-show="{{ str }}.edit.state === false">{{ '{' }}{ {{ str }}.obj.opened{{ d }} }{{ '}' }}</span>
                                    <span class="dropup"><input type="hidden" datetime-picker="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].opened{{ d }}" enable-date="false" is-open="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][0]"></span>
                                    <input type="checkbox" ng-show="{{ str }}.edit.state" ng-model="{{ str }}.edit.e{{ d }}" ng-disabled="{{ str }}.edit.state === null">
                                    <div class="ib" ng-disabled="!{{ str }}.edit.e{{ d }} || {{ str }}.edit.state === null">
                                        <span ng-show="{{ str }}.edit.state !== false" class="input-group input-group-sm">
                                            <input class="form-control" datetime="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].opened{{ d }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][0] = true"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </span>
                                        <div class="ib" ng-class="{'hdt': {{ str }}.edit.state !== false}">-</div>
                                        <span class="dropup"><input type="hidden" datetime-picker="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].closed{{ d }}" enable-date="false" is-open="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][1]"></span>
                                        <span ng-show="{{ str }}.edit.state !== false" class="input-group input-group-sm">
                                            <input class="form-control" datetime="HH:mm" ng-model="edit_objs[{{ str }}.obj.id].closed{{ d }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="edit_objs[{{ str }}.obj.id].dt[{{ forloop.counter0 }}][1] = true"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </span>
                                    </div>
                                    <span ng-show="{{ str }}.edit.state === false">{{ '{' }}{ {{ str }}.obj.closed{{ d }} }{{ '}' }}</span>
                                </td>
                                {% endif %}{% endfor %}<td>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state === false" ng-click="showEdit({{ str }})"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:" ng-show="{{ str }}.edit.state" ng-click="saveWaiter({{ str }}, {{ str }}s)"><i class="fa fa-check"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div class="loaded loa nmb loa-c" ng-if="{{ strs }}.loaded === false"><i class="fa fa-spinner"></i></div>