{% extends 'base/home.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Waiters" %} - Gournet{% endblock %}
{% block head %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/waiters.css' %}">
    <script src="{% static 'main/js/custom/waiters.js' %}"></script>{% endblock %}

{% block container %}{% load cache %}{% cache None categs request.LANGUAGE_CODE %}
        <script type="text/ng-template" id="categsPopover">
            {% load bootstrap3 %}{% bootstrap_field form.cat %}
            <button class="btn btn-primary btn-block" ng-click="addCategs()">{% trans "Add" %}</button>
        </script>
        <div class="row wtp" ng-controller="WaitersCtrl" ng-init="loadCategs({{ '{' }}{% for cat in form.cat.field.choices %}{% for subcat in cat.1 %}{{ subcat.0 }}: '{{ subcat.1 }}{% load main_tags %}{% if subcat.0|endswith:'_other' %} ({{ cat.0 }}){% endif %}'{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.last %}, {% endif %}{% endfor %}{{ '}' }}); loadWaiters(['{{ days|join:'\', \'' }}'], [{% endcache %}{{ wt|join:', '|lower }}])">
            <div class="col-sm-12" ng-if="!loading">
                <uib-accordion close-others="false">
                    <div uib-accordion-group heading="{% verbatim %}{{ preparers.display }}{% endverbatim %}" ng-repeat="preparers in categs.list">
                        {% include 'waiters_table.html' with str='preparer' strs='preparers.list' %}
                    </div>
                </uib-accordion>
                <button class="btn btn-primary btn-block" uib-popover-template="'categsPopover'" popover-class="categs-popover" popover-trigger="outsideClick" popover-is-open="categs.opened" popover-placement="bottom" ng-click="categs.opened = !categs.opened">{% trans "One more preparer group" %}</button>
                <hr/>
                <uib-accordion close-others="false">
                    <div uib-accordion-group heading="{% trans "Table" context "number" %} {% verbatim %}{{ $index + 1 }}{% endverbatim %}" ng-repeat="waiters in tables">
                        {% include 'waiters_table.html' with str='waiter' strs='waiters' %}
                    </div>
                </uib-accordion>
                <button class="btn btn-primary btn-block" ng-click="addTable()">{% trans "One more table" %}</button>
            </div>
            <div class="loaded loa loa-c" ng-if="loading"><i class="fa fa-spinner fa-2x"></i></div>
        </div>
{% endblock %}