#nf {
    color: white;
    margin: 6px 0 0;
    font-size: 2.8em;
}

.mb3 {
    margin-bottom: 3px;
}
.mn1 {
	padding-top: 5px;
}
.well {
    background-color: #fffdfd;
}

/*.pb18 {
    padding-bottom: 18px;
}*/

.pb8, .modal-body .nev {
    padding-bottom: 8px;
}

legend {
    font-size: 20px;
    margin: -5px 0 15px 0;
    float: right;
}
.media-object {
    float: left;
    margin: -10px 15px -5px 0;
}
.imo {
    width: 48px;
    height: 48px;
    float: left;
    margin: 6px 10px 0 6px;
}
.bor {
    border: 1px solid #e5e5e5;
}
.av {
    max-width: 128px;
    min-height: 80px;
}
.mb, .tab-content .nev {
    margin-top: 10px;
}
.im {
    margin-top: -20px;
}
@media (max-width: 992px) {
    .im {
        margin-top: -10px;
    }
}
.br {
    padding-top: 9px;
    margin-bottom: -1px;
}
.pb18 {
    padding-bottom: 18px;
}
.op > a, .op > span, .op > span > *:first-child:not(:only-child) {
    margin-right: 12px;
}

[class*=events] p {
    word-wrap: break-word;
}

.cmn {
    margin-top: 13px !important;
}

.mb13 {
    margin-bottom: 13px !important;
}

.cmn .pull-left {
    margin-top: 14px;
    width: 45px;
}

.mb7 {
    margin-bottom: 7px !important;
}

.ml5 {
    margin-left: 5px;
}

.pb7 {
    padding-bottom: 7px;
}

.lh {
    line-height: 2.2;
}

.badge.label-primary {
    background-color: #dd4814;
}
.n:link, .n:visited, .n:active, .n:hover {
    text-decoration: none;
}

@media (max-width: 487px) {
    #sr {
        width: 170px;
    }
}

@media (max-width: 424px) {
    #sr {
        width: 135px;
    }
}

@media (max-width: 387px) {
    #sr {
        width: 105px;
    }
}

@media (max-width: 360px) {
    #sr {
        width: 85px;
    }
}

@media (max-width: 480px) {
    .modal:not(.modal-confirm):not(.oc) .modal-dialog {
        width: 100%;
        /*height: 100%;*/
        padding: 0;
        margin: 0;
    }
    .modal:not(.modal-confirm):not(.oc) .modal-content {
        min-height: 100%;
        height: auto;
        border-radius: 0;
    }
}

html, body {
  height: 100%;
}

body {
	margin-bottom: 0;
}

.navbar-toggle {
    float: right;
    margin-right: 10px;
}

.navmenu-fixed-right {
    left: auto !important;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

.clickable {
    cursor: pointer;
}

#notif > .fa-bell {
    color: #ffc200;
}

#notif + .popover {
    max-width: 99%;
    /*min-width: 300px;*/
}

#notif + .popover .popover-content {
    padding: 0;
    /*white-space: nowrap;*/
    max-height: 70vh;
}

#notif + .popover .dt {
    padding: 9px 14px;
}

.notif {
    left: 1px !important;
    white-space: normal !important;
}
/*.notif > .arrow {
    left: 85% !important;
}*/

#notif + .popover p:not(.small) {
    margin-bottom: 5px;
}

#notif + .popover p:last-of-type, .lm, .br3 {
    margin: 0;
}

.br3 {
	font-size: 20px;
}

@media (max-width: 768px) {
  .br3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .br3 {
    font-size: 16px;
  }
}

#notif + .popover hr {
    margin: 10px 0;
}

#notif + .popover a:not(.text-info):not(.lm), .well.n, .cmn .prf {
    color: inherit;
}

.well.n, .cmn .prf {
    color: initial;
}

.loa {
    padding: 0 2px 1px;
}

.oh {
    overflow: hidden;
}

.um {
    margin-bottom: -10px;
}

/*.modal-body > div > .container-fluid {
    padding: 0;
}*/

.ls > li {
	padding-bottom: 5px;
}

.loa-c {
    display: table;
    margin: 0 auto;
}

.fa-spinner:not(.fa-2x) {
    margin-bottom: 4px;
}

.fa-spinner {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prof {
    width: 128px;
    margin-bottom: 12px !important;
}

.fri .us {
    min-width: 135px;
    max-width: 175px;
}

.fri .us a, .fri .fa-ellipsis-v, .lm {
    display: block !important;
}

.fri .fa-ellipsis-v {
    margin: 12px 0;
    color: #e1e1e1;
}

.fri .tab-content, .tab-pane > .events_false > div:first-of-type:not(.angular-animate):not(.nev) {
    margin-top: 20px;
}

.navmenu {
  width: 300px;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.navmenu-fixed-right {
    top: 0;
    bottom: 0;
    z-index: 1030;
    overflow-y: auto;
    right: 0;
    left: auto;
    border: none;
}
.navmenu-nav, .mpd {
  margin-bottom: 10px;
}
.navmenu-nav.dropdown-menu {
  position: static;
  float: none;
  padding-top: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navmenu-brand {
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 18px;
  line-height: 20px;
}
.navmenu-brand:hover,
.navmenu-brand:focus {
  text-decoration: none;
}
.oc .modal-content {
    background-color: #f8f8f8;
    padding: 1px; /*border-width: 0 0 0 1px;
    border-radius: 0;
    border-color: #e7e7e7;*/
}
.navmenu-default .navmenu-brand {
  color: #777;
}
.navmenu-default .navmenu-brand:hover,
.navmenu-default .navmenu-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navmenu-default .navmenu-nav > .dropdown > a:hover .caret,
.navmenu-default .navmenu-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navmenu-default .navmenu-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navmenu-default .navmenu-nav.dropdown-menu {
  background-color: #e7e7e7;
}
.navmenu-default .navmenu-nav.dropdown-menu > .divider {
  background-color: #f8f8f8;
}
.navmenu-default .navmenu-nav > li > a {
  color: #777;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navmenu-default .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navmenu-default .navmenu-nav > .open > a {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}
#offcanvas {
    display: none;
}

.tab-content {
	position: relative;
}

.tab-content > .tab-pane {
	transition: 0.1s linear opacity;
}

.tab-content > .tab-pane.active-remove {
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
}

.tab-content > .tab-pane.active-remove-active {
	opacity: 0;
}

.tab-content > .tab-pane.active-add {
	opacity: 0;
}

.bc {
    background-color: #eeeeee;
}

.ns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rmn + .popover ul {
    margin-bottom: 4px;
}

[class*=events] > .ng-enter {
    top: -50px;
}

.cmn .ng-enter {
    right: -50px;
}

[class*=events] .ng-enter {
    /*-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) all;
    position: relative;
    opacity: 0;
}

[class*=events] .ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
    right: 0;
}

[class*=events] .ng-leave {
  transition: 0.5s linear all;
  opacity: 1;
}

[class*=events] .ng-leave.ng-leave-active {
  opacity: 0;
}