.angular-google-map {
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
}

.angular-google-map-container {
    height: 100%;
}

.marker_label {
    opacity: 0.8;
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    overflow: visible !important;
}

.marker_label > span {
    color: #333;
    background-color: white;
    margin-left: -50%;
    text-align: center;
    padding: 0 5px 0 5px;
    height: 18px;
    width: auto;
    display: inline-block;
    border: 1px solid #ff641f;
    white-space: nowrap;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}

.pac-controls {
  margin-top: 11px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 31px !important;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 3px 9px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 245px;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 10px;
  width: 246px;
}

@media (max-width: 460px) {
    #pac-input {
        width: 205px;
    }

    #pac-input:focus {
        width: 206px;
    }
}

@media (max-width: 425px) {
    #pac-input {
        width: 175px;
    }

    #pac-input:focus {
        width: 176px;
    }
}

@media (max-width: 391px) {
    #pac-input {
        width: 141px;
    }

    #pac-input:focus {
        width: 142px;
    }
}

@media (max-width: 357px) {
    #pac-input {
        width: 121px;
    }

    #pac-input:focus {
        width: 122px;
    }
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0 11px;
}

#type-selector label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.angular-google-map-container button {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
}

.angular-google-map-container button:hover {
    background-color: #e8e8e8;
}

.angular-google-map-container button > i {
    color: rgb(25, 25, 25);
    /*font-family: Roboto, Arial, sans-serif;*/
    font-size: 14px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}