footer > div > div > div > *:first-child {
    width: 23%;
}

@media (max-width: 405px) {
    footer > div > div > div > .sr-latn + div > .nav > li > * {
        /*padding: 10px 5px;*/
        padding-left: 5px;
        padding-right: 5px;
    }

    /*footer {
        min-height: 40px !important;
    }*/
}

@media (max-width: 435px) {
    footer > div > div > div > .en-us + div > .nav > li > * {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 710px) {
    footer .more {
        display: none;
    }

    footer > div > div > div > *:first-child {
        width: 29%;
    }

    footer .more_b {
        display: initial;
    }
}

@media (max-width: 405px) {
    footer > div > div > div > .sr-latn {
        width: 33%;
    }
}

@media (max-width: 360px) {
    footer > div > div > div > .sr-latn {
        width: 40%;
    }
}

@media (max-width: 305px) {
    footer > div > div > div > .sr-latn {
        width: 43%;
    }
}

@media (max-width: 415px) {
    footer > div > div > div > .en-us {
        width: 31%;
    }
}

@media (max-width: 385px) {
    footer > div > div > div > .en-us {
        width: 33%;
    }
}

@media (max-width: 360px) {
    footer > div > div > div > .en-us {
        width: 37%;
    }
}