.g-recaptcha {
    overflow-y: hidden;
    overflow-x: auto;
}

.well {
    margin: 0 auto auto;
    max-width: 400px;
}

.fbot {
    margin-bottom: 0;
}

.navmenu, .navbar-offcanvas {
    width: 200px;
}

body > .container > * > [class*=col-] {
    padding-bottom: 20px;
}