.orders .ng-enter {
    animation: enter 2.5s linear;
}

@keyframes enter {
    100% {background-color: #dff0d8; opacity: 1;}
}

.orders .ng-leave {
    animation: leave 2.5s linear;
}

@keyframes leave {
    100% {background-color: #e4b9b9; opacity: 0;}
}

.orders > div {
    padding-left: 5px;
    padding-right: 5px;
}

.orders .change {
    animation: move 2.5s linear;
}

.orders .fa-reorder {
    font-size: 12em;
}

@keyframes move {
    50% {background-color: #afd9ee;}
}

.orders .item::before {
    content: "\a0\a0\a0\a0\a0";
}

.orders .item.it_cmp::before {
    content: "\2022\a0\a0\a0";
}

.orders.no_w .action-popover {
    max-width: none;
}

.orders .action-popover > .popover-inner > .popover-content {
    padding-bottom: 0;
}

.orders .action-popover .btn {
    margin-bottom: 9px;
}

.orders .orders_sep {
    border-top-width: 6px;
    border-radius: 3px;
    border-top-color: #181a1dcc;
}

.orders.ordr .bg-danger {
    color: #fff;
    background-color: #b94a48;
}

.orders .close {
    float: left;
    margin-top: -2px;
    margin-right: 4px;
    opacity: 0.4;
}