.ng-enter {
    animation: enter 2.5s linear;
}

@keyframes enter {
    100% {background-color: #dff0d8; opacity: 1;}
}

.ng-leave {
    animation: leave 2.5s linear;
}

@keyframes leave {
    100% {background-color: #e4b9b9; opacity: 0;}
}

.row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.change {
    animation: move 2.5s linear;
}

.fa-reorder {
    font-size: 12em;
}

@keyframes move {
    50% {background-color: #afd9ee;}
}

.item {
    padding-left: 30px !important;
}

.action-popover > .popover-inner > .popover-content {
    padding-bottom: 0;
}

.action-popover .btn {
    margin-bottom: 9px;
}