.modal-header {
    padding-bottom: 5px;
}

.modal-header h3 {
    margin: 0;
    display: inline;
}

.modal-header .close {
    font-size: 30px;
    margin-top: -5px;
}

.sett .form-control {
    width: 250px;
}

.sett :not(.alert) > p:not(.def), .loa, .mb4 {
    margin-bottom: 4px;
}

.sett .alert {
    margin-top: 7px;
}

.sett .form-control, .bt3, .sett .alert, .rmn + .popover .input-group {
    margin-bottom: 7px;
}
.bt3 .btn, .mt5 {
    margin-top: 5px;
}

.btr {
    margin-right: 3px;
}

.hor {
    margin-bottom: 13px;
}

.nji {
    margin-right: auto;
    margin-left: auto;
}

.nji > .tab-content {
    margin-top: 20px;
}

@media (min-width: 993px) {
    .nji > ul {
        width: 25%;
    }

    .nji > .tab-content {
        margin-top: 0;
        width: 75%;
        padding-left: 15px;
    }

    .nji > ul, .nji > .tab-content {
        float: left;
        position: relative;
        min-height: 1px;
    }

    .nji > ul > li {
        float: none;
    }
}

.rmn + .popover ul, .comb {
    width: initial !important;
}

.locp {
    margin-top: -9px;
}

.locp > span {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
}