.wp {
	padding-bottom: 15px;
}

.margin-center {
	margin: 0 auto;
	display: block;
}
.br1 {
	margin-bottom: -5px;
}
.br2, .frm > *:not(.mpd):not(:last-child), .frm > *:not(.input-group) > *:not(:last-child), .namef > :not([style*="display: none"]) {
	margin-bottom: 11px;
}

/*.remm {
	display: table;
	width: 100%;
	margin-bottom: 1px !important;
}*/

.mn {
	padding-top: 15px;
}

.mn1:not(.vi) {
	padding-top: 5px;
}

.mn1 > div > div:first-of-type:not(.angular-animate):not(.nev) {
	margin-top: 15px;
}

.tb > tbody > tr > td:first-of-type > div {
	display: inline-block;
	margin-top: 6px;
}
.tb > tbody > tr > td:nth-of-type(2) > div {
	margin-top: 6px;
}

.tb > tbody > tr > td:first-of-type {
	width: 87%;
}

@media (max-width: 1200px) {
	.tb > tbody > tr > td:first-of-type {
		width: 85%;
	}
}

@media (max-width: 750px) {
	.tb > tbody > tr > td:first-of-type {
		width: 82%;
	}
}

@media (max-width: 630px) {
	.tb > tbody > tr > td:first-of-type {
		width: 78%;
	}
}

@media (max-width: 530px) {
	.tb > tbody > tr > td:first-of-type {
		width: 75%;
	}
}

@media (max-width: 465px) {
	.tb > tbody > tr > td:first-of-type {
		width: 69%;
	}
}

@media (max-width: 380px) {
	.tb > tbody > tr > td:first-of-type {
		width: 63%;
	}
}

.tb {
	margin-top: -1px;
}

.tb img {
	margin-top: -2px;
	margin-right: 7px;
}

.rw {
	margin-bottom: -5px;
}

.bs-sidebar.affix {
	/*right: auto !important;*/
	top: 70px;
}

@media (max-width: 991px) {
.bs-sidebar.affix {
	top: 0;
	width: initial;
	position: relative;
  }
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
	top: 70px;
	width: 213px;
	position: fixed;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
	width: 263px;
  }
}

.mn h4 {
	text-align: center;
	margin: 9px 0 12px;
}

.mn > div:first-of-type > h4 {
	margin-top: 0;
}

.mn hr {
	margin: 15px 0 0;
	display: inline-table;
	width: 100%;
}

.mn .ng-enter {
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0;
    }
}
 
.mn .ng-leave {
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0;
    }
}

.img_p {
	position: relative;
	border: 0;
	padding: 0;
}

.img_l {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.img_l > .loa {
	margin-top: 50px;
	margin-left: 50px;
}

.img_p > .tooltip {
	left: -32px !important;
	width: 193px;
}

.inline > input, .inline > div {
	display: inline-block;
	vertical-align: middle;
}

.namef > div, .namef > input {
	width: 50% !important;
}

.namef > div {
	position: relative;
}

.namef > div > ul {
	width: 100% !important;
}

.namef > div > div {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.namef > fieldset {
	margin-top: -4px;
}

.namef > fieldset > span {
	display: block;
    overflow: hidden;
    padding-left: 10px;
}

.namef > fieldset > label {
	float: left;
	margin-top: 7px;
}

.namef > a:last-child {
	margin-top: -5px;
}