.wp {
	padding-bottom: 15px;
}

.margin-center {
	margin: 0 auto;
	display: block;
}
.br1 {
	margin-bottom: -5px;
}
.br2 {
	margin-bottom: 11px;
}

/*.remm {
	display: table;
	width: 100%;
	margin-bottom: 1px !important;
}*/

.mn {
	padding-top: 15px;
}

.remm:not(:first-child), .mn1 > .events_false > div:first-of-type:not(.angular-animate):not(.nev) {
	margin-top: 15px;
}

.tb > tbody > tr > td:first-of-type > div {
	display: inline-block;
	margin-top: 6px;
}
.tb > tbody > tr > td:nth-of-type(2) > div {
	margin-top: 6px;
}

.tb > tbody > tr > td:first-of-type {
	width: 87%;
}

@media (max-width: 1200px) {
	.tb > tbody > tr > td:first-of-type {
		width: 85%;
	}
}

@media (max-width: 750px) {
	.tb > tbody > tr > td:first-of-type {
		width: 82%;
	}
}

@media (max-width: 630px) {
	.tb > tbody > tr > td:first-of-type {
		width: 78%;
	}
}

@media (max-width: 530px) {
	.tb > tbody > tr > td:first-of-type {
		width: 75%;
	}
}

@media (max-width: 465px) {
	.tb > tbody > tr > td:first-of-type {
		width: 69%;
	}
}

@media (max-width: 380px) {
	.tb > tbody > tr > td:first-of-type {
		width: 63%;
	}
}

.tb {
	margin-top: -1px;
}

.tb img {
	margin-top: -2px;
	margin-right: 7px;
}

.an {
	margin-top: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.rw {
	margin-bottom: -5px;
}

.bs-sidebar.affix {
	/*right: auto !important;*/
	top: 70px;
}

@media (max-width: 991px) {
.bs-sidebar.affix {
	top: 0;
	width: initial;
	position: relative;
  }
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
	top: 70px;
	width: 213px;
	position: fixed;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
	width: 263px;
  }
}

.form-group, .nmb {
	margin-bottom: 0;
}

.mn h4 {
	text-align: center;
	margin: 9px 0 12px;
}

.mn > div:first-of-type > h4 {
	margin-top: 0;
}

.mn hr {
	margin: 15px 0 0;
	display: inline-table;
	width: 100%;
}