.wt .input-group {
    display: inline-table;
    width: 86px;
}

.wt .hdt {
    margin: -20px 3px 0;
}

.wt input[type='checkbox'] {
    float: left;
    margin: 9px 5px 5px 0;
}

.wt fieldset {
    display: inline;
}

.wt > td, .ib {
    vertical-align: middle !important;
}

.w1 {
    width: 1%;
}

.categs-popover .form-group {
    margin-bottom: 10px;
}

.categs-popover select {
    height: 270px;
}

.wtp .panel-body {
    overflow-x: auto;
}

.wtp .edt .name {
    min-width: 125px;
}

.wtp .edt .worktime {
    min-width: 225px;
}

.wtp .datetime-picker-dropdown {
    position: relative;
}